<h1 mat-dialog-title>
  {{ (data.type === 'cli' ? 'CLI' : data.name) | translate }}{{"Setting"| translate}}
</h1>

<div *ngIf="type === 'general'">
  <mat-form-field>
    <mat-select [(value)]="setting.isLoadTreeAsync"
                placeholder="{{'Load tree async'| translate }}" >
      <mat-option *ngFor="let s of boolChoices"  value="{{s.value}}">{{s.name| translate}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="type === 'gui'">
  <mat-form-field>
    <mat-select [(value)]="setting.rdpResolution"
                placeholder="{{'RDP resolution'| translate}}" >
      <mat-option *ngFor="let s of resolutionsChoices" value="{{s}}">{{s}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <label class="field-label" style="padding-bottom: 7px;">
      {{'Keyboard layout'| translate }}
    </label>
    <mat-select [(value)]="setting.keyboardLayout">
      <mat-option *ngFor="let item of keyboardLayoutOptions" value="{{item.value}}">
        {{item.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="hasLicense()">
    <label class="field-label">{{ 'RDP client options' | translate }}</label>
    <section>
      <mat-checkbox [(ngModel)]="setting.rdpFullScreen">{{ 'Full screen'| translate}}</mat-checkbox>
      <mat-checkbox [(ngModel)]="setting.rdpMultiScreen" style="padding-left: 20px">{{ 'Multi Screen'| translate}}</mat-checkbox>
      <mat-checkbox [(ngModel)]="setting.rdpDrivesRedirect" style="padding-left: 20px">{{ 'Driver redirect'| translate}}</mat-checkbox>
    </section>

    <label class="field-label space">{{ 'Applet connect method' | translate }}</label>
    <mat-radio-group
      aria-label="Select an option"
      [(ngModel)]="setting.appletConnectMethod"
    >
      <mat-radio-button value="web">Web</mat-radio-button>
      <mat-radio-button value="client" style="padding-left: 20px">{{ 'Client' | translate }}</mat-radio-button>
    </mat-radio-group>
  </div>
</div>

<div *ngIf="type === 'cli'">
  <mat-form-field >
    <input [(ngModel)]="setting.fontSize" matInput placeholder='{{"CLI font size"| translate}}' name="fontSize" type="number" min="5" max="60" >
  </mat-form-field>

  <mat-form-field>
    <mat-select [(value)]="setting.backspaceAsCtrlH"
                placeholder="{{'Backspace as Ctrl+H'| translate }}" >
      <mat-option *ngFor="let s of boolChoices"  value="{{s.value}}">{{s.name| translate}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select [(value)]="setting.quickPaste"
                placeholder="{{'Right mouse quick paste'| translate }}" >
      <mat-option *ngFor="let s of boolChoices"  value="{{s.value}}">{{s.name| translate}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div style="float: right; padding-top: 20px">
  <button mat-raised-button (click)="onNoClick()">{{"Cancel"| translate}}</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">{{"Confirm"| translate}}</button>
</div>
