<div class="connect-type form-field">
  <nz-form-label class="zone-label" nzNoColon>
    {{ "Connect method" | translate }}
  </nz-form-label>
  <div *ngIf="connectMethodTypes.length > 0; else empty" class="connect-type-group">
    <nz-tabset
      (nzSelectedIndexChange)="onConnectMethodTypeChange($event)"
      [nzSelectedIndex]="currentConnectMethodTypeIndex()"
      class="full-width-tabs"
    >
      <nz-tab
        *ngFor="let item of connectMethodTypes" [nzTitle]="titleTemplate"
      >
        <ng-template #titleTemplate>
          <i [class]="'fa ' + item.fa"></i> {{ item.label }}
        </ng-template>

        <nz-radio-group
          [(ngModel)]="connectMethod"
          class="connect-method"
          name="connect-method"
        >
          <!--          <nz-radio-button *ngFor="let method of item['methods']" [disabled]="method.disabled" [value]="method">-->
          <label *ngFor="let method of item['methods']" [nzValue]="method" nz-radio>
            {{ method.label }}

            <span matTooltip="{{'Click to download rdp file'| translate}}">
              <i (click)="downloadRDPFile(method)"
                 *ngIf="canDownloadRDPFile(method)"
                 class="fa fa-arrow-circle-down question"
              ></i>
            </span>
            <span matTooltip="{{'Client Guide'| translate}}">
              <i (click)="ChangeToGuidePage(method)"
                 *ngIf="CanGuide(method)"
                 class="fa fa-book question"
              ></i>
            </span>
          </label>
        </nz-radio-group>
      </nz-tab>
    </nz-tabset>
  </div>
  <ng-template #empty>
    <nz-alert nzType="error" [nzMessage]="this._i18n.instant('No available connect method')"></nz-alert>
  </ng-template>
</div>
