
.connect-type-group {
  border: solid #cbc9c9 1px;
}

.connect-grouped-methods {
  margin-left: 10px;
}

.connect-method {
  padding: 5px 10px 10px;
}

.connect-method-item {
  min-width: 80px;
}

.connect-grouped-title {
  width: 70px;
}

.connect-type-group ::ng-deep {
  .ant-tabs-nav-list {
    width: 100%;

    & > div {
      display: flex;
    }

    .ant-tabs-tab {
      min-width: 20px;
      padding-top: 6px;
      padding-bottom: 8px;
      flex: 1;
      justify-content: center; /* 水平居中标题文字 */
      text-align: center;

      i {
        margin-right: 10px;
      }
    }
  }

  .question {
    color: #5d5d5d;
  }
}
