<div class="connect-type form-field">
  <label class="zone-label">
    {{ "Connect method" | translate }}
  </label>
  <div *ngIf="connectMethodTypes.length > 0; else empty" class="connect-type-group">
    <nz-tabset
      (nzSelectedIndexChange)="onConnectMethodTypeChange($event)"
      [nzSelectedIndex]="currentConnectMethodTypeIndex()"
    >
      <nz-tab
        *ngFor="let item of connectMethodTypes" [nzTitle]="titleTemplate"
      >
        <ng-template #titleTemplate>
          <i [class]="'fa ' + item.fa" style="padding-right: 10px"></i> {{ item.label }}
        </ng-template>

        <nz-radio-group
          [(ngModel)]="connectMethod"
          name="connect-method"
          style="display: block; padding: 12px 10px 10px 10px;"
        >
          <!--          <nz-radio-button *ngFor="let method of item['methods']" [disabled]="method.disabled" [value]="method">-->
          <label *ngFor="let method of item['methods']" [nzValue]="method" nz-radio>
            {{ method.label }}

            <span matTooltip="{{'Click to download rdp file'| translate}}">
              <i (click)="downloadRDPFile(method)"
                 *ngIf="canDownloadRDPFile(method)"
                 class="fa fa-arrow-circle-down question"
              ></i>
            </span>
            <span matTooltip="{{'Client Guide'| translate}}">
              <i (click)="ChangeToGuidePage(method)"
                 *ngIf="CanGuide(method)"
                 class="fa fa-book question"
              ></i>
            </span>
          </label>
        </nz-radio-group>
      </nz-tab>
    </nz-tabset>
  </div>
  <ng-template #empty>
    <div class="empty">
      {{ "No available connect method" | translate }}
    </div>
  </ng-template>
</div>
