<nz-drawer
  nzPlacement="right"
  nzWidth="600px"
  [nzClosable]="false"
  [nzVisible]="visible()"
  (nzOnClose)="close()"
  class="custom-drawer-wrapper"
>
  <ng-container *nzDrawerContent>
    <nz-collapse [nzBordered]="true" nzExpandIconPosition="end">
      @for (panel of panels; track panel) {
        <nz-collapse-panel
          #p
          [nzHeader]="panel.name"
          [nzActive]="panel.active"
          [style]="customStyle"
        >
          <ng-template #expandedIcon let-active>
            {{ active }}
            <nz-icon
              nzType="caret-right"
              class="ant-collapse-arrow"
              [nzRotate]="p.nzActive ? 90 : -90"
            />
          </ng-template>

          @if (panel.type === 'command') {
            <form nz-form [nzLayout]="'vertical'">
              <!-- 字体配置区域 -->
              <div class="config-section">
                <nz-divider [nzDashed]="true" [nzText]="font" nzOrientation="center">
                  <ng-template #font>
                    <nz-icon nzType="font-size" nzTheme="outline"></nz-icon>
                    <span class="section-title">字体</span>
                  </ng-template>
                </nz-divider>

                <div class="form-row">
                  <nz-form-item class="form-item-large">
                    <nz-form-label>字体系列</nz-form-label>
                    <nz-form-control>
                      <nz-select nzPlaceHolder="选择字体">
                        @for (font of fontFamilies; track font.value) {
                          <nz-option [nzValue]="font.value" [nzLabel]="font.label"></nz-option>
                        }
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item class="form-item-small">
                    <nz-form-label>字体大小</nz-form-label>
                    <nz-form-control>
                      <nz-input-number nzMin="8" nzMax="72" nzPlaceHolder="14" />
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <!-- 光标配置区域 -->
              <div class="config-section">
                <nz-divider [nzDashed]="true" [nzText]="cursor" nzOrientation="center">
                  <ng-template #cursor>
                    <nz-icon nzType="edit" nzTheme="outline"></nz-icon>
                    <span class="section-title">光标</span>
                  </ng-template>
                </nz-divider>

                <div class="form-row">
                  <nz-form-item class="form-item-large">
                    <nz-form-label>光标样式</nz-form-label>
                    <nz-form-control>
                      <nz-segmented
                        name="cursor_style"
                        [ngModel]="'line'"
                        [nzOptions]="cursorStyles"
                        [ngModelOptions]="{ standalone: true }"
                      ></nz-segmented>
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item class="form-item-small">
                    <nz-form-label>光标闪烁</nz-form-label>
                    <nz-form-control>
                      <nz-switch
                        name="cursor_blink"
                        [ngModel]="true"
                        [ngModelOptions]="{ standalone: true }"
                      ></nz-switch>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <!-- 偏好设置区域 -->
              <div class="config-section">
                <nz-divider [nzDashed]="true" [nzText]="preference" nzOrientation="center">
                  <ng-template #preference>
                    <nz-icon nzType="setting" nzTheme="outline"></nz-icon>
                    <span class="section-title">偏好</span>
                  </ng-template>
                </nz-divider>

                <nz-list nzSize="small" [nzSplit]="false" [nzBordered]="false">
                  <nz-list-item>
                    <nz-list-item-meta nzTitle="右键快速粘贴"></nz-list-item-meta>
                    <nz-switch nzSize="small"></nz-switch>
                  </nz-list-item>
                  <nz-list-item>
                    <nz-list-item-meta nzTitle="左键选中复制"></nz-list-item-meta>
                    <nz-switch nzSize="small"></nz-switch>
                  </nz-list-item>
                  <nz-list-item>
                    <nz-list-item-meta nzTitle="字符终端Backspace As Ctrl+H"></nz-list-item-meta>
                    <nz-switch nzSize="small"></nz-switch>
                  </nz-list-item>
                </nz-list>
              </div>
            </form>
          }

          @if (panel.type === 'graphic') {
            <form nz-form [nzLayout]="'vertical'">
              <!-- RDP 配置区域 -->
              <div class="config-section">
                <nz-divider [nzDashed]="true" [nzText]="rdp" nzOrientation="center">
                  <ng-template #rdp>
                    <nz-icon nzType="desktop" nzTheme="outline"></nz-icon>
                    <span class="section-title">RDP 配置</span>
                  </ng-template>
                </nz-divider>

                <div class="form-row">
                  <nz-form-item class="form-item-large">
                    <nz-form-label>{{ 'RDP resolution' | translate }}</nz-form-label>
                    <nz-form-control>
                      <nz-select
                        name="rdp_resolution"
                        [(ngModel)]="setting.graphics.rdp_resolution"
                      >
                        @for (resolution of resolutionsOptions; track resolution.value) {
                          <nz-option
                            [nzValue]="resolution.value"
                            [nzLabel]="resolution.label"
                          ></nz-option>
                        }
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item class="form-item-small">
                    <nz-form-label>{{ 'RDP smart size' | translate }}</nz-form-label>
                    <nz-form-control>
                      <nz-select
                        name="rdp_smart_size"
                        [(ngModel)]="setting.graphics.rdp_smart_size"
                      >
                        @for (option of rdpSmartSizeOptions; track option.value) {
                          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                        }
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div class="form-row">
                  <nz-form-item class="form-item-large">
                    <nz-form-label>{{ 'RDP color quality' | translate }}</nz-form-label>
                    <nz-form-control>
                      <nz-select
                        name="rdp_color_quality"
                        [(ngModel)]="setting.graphics.rdp_color_quality"
                      >
                        @for (quality of colorQualityOptions; track quality.value) {
                          <nz-option
                            [nzValue]="quality.value"
                            [nzLabel]="quality.label"
                          ></nz-option>
                        }
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div class="form-row">
                  <nz-form-item class="form-item-large">
                    <nz-form-label>{{ 'Keyboard layout' | translate }}</nz-form-label>
                    <nz-form-control>
                      <nz-select
                        name="keyboard_layout"
                        [(ngModel)]="setting.graphics.keyboard_layout"
                      >
                        @for (option of keyboardLayoutOptions; track option.value) {
                          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                        }
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              @if (hasLicense()) {
                <!-- 显示配置区域 -->
                <div class="config-section">
                  <nz-divider [nzDashed]="true" [nzText]="display" nzOrientation="center">
                    <ng-template #display>
                      <nz-icon nzType="monitor" nzTheme="outline"></nz-icon>
                      <span class="section-title">显示配置</span>
                    </ng-template>
                  </nz-divider>

                  <div class="form-row">
                    <nz-form-item class="form-item-large">
                      <nz-form-label>{{ 'RDP client options' | translate }}</nz-form-label>
                      <nz-form-control>
                        <nz-segmented
                          [ngModel]="currentRdpScreenOptions"
                          [nzOptions]="rdpScreenOptions"
                          [ngModelOptions]="{ standalone: true }"
                        >
                        </nz-segmented>
                      </nz-form-control>
                    </nz-form-item>

                    <nz-form-item class="form-item-small">
                      <nz-form-label>{{ 'Driver redirect' | translate }}</nz-form-label>
                      <nz-form-control>
                        <nz-switch
                          nzSize="small"
                          [ngModel]="true"
                          [ngModelOptions]="{ standalone: true }"
                        ></nz-switch>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>

                <!-- 连接方式区域 -->
                <div class="config-section">
                  <nz-divider [nzDashed]="true" [nzText]="connection" nzOrientation="center">
                    <ng-template #connection>
                      <nz-icon nzType="link" nzTheme="outline"></nz-icon>
                      <span class="section-title">{{ 'Applet connect method' | translate }}</span>
                    </ng-template>
                  </nz-divider>

                  <nz-form-item>
                    <nz-form-label>连接类型</nz-form-label>
                    <nz-form-control>
                      <nz-radio-group
                        name="applet_connection_method"
                        [(ngModel)]="setting.graphics.applet_connection_method"
                      >
                        <label nz-radio nzValue="web">Web</label>
                        <label nz-radio nzValue="client">{{ 'Client' | translate }}</label>
                      </nz-radio-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              }
            </form>
          }

          @if (panel.type === 'tree') {
            <form nz-form [nzLayout]="'vertical'">
              <div class="config-section">
                <nz-divider [nzDashed]="true" [nzText]="tree" nzOrientation="center">
                  <ng-template #tree>
                    <nz-icon nzType="cluster" nzTheme="outline"></nz-icon>
                    <span class="section-title">资产树</span>
                  </ng-template>
                </nz-divider>

                <nz-list nzSize="small" [nzSplit]="false" [nzBordered]="false">
                  <nz-list-item>
                    <nz-list-item-meta
                      nzTitle="{{ 'Load tree async' | translate }}"
                    ></nz-list-item-meta>
                    <nz-switch
                      name="is_async_asset_tree"
                      nzSize="small"
                      [(ngModel)]="setting.basic.is_async_asset_tree"
                    ></nz-switch>
                  </nz-list-item>
                </nz-list>
              </div>
            </form>
          }
        </nz-collapse-panel>
      }
    </nz-collapse>
  </ng-container>
</nz-drawer>
