@import "tailwindcss";
@import "@nuxt/ui";

@theme {
	--font-heading: "Montserrat", sans-serif;
	--font-sans: "Open Sans", sans-serif;
	--color-primary: var(--ui-color-primary-500);
	--color-secondary: var(--ui-color-secondary-500);
	--color-success: var(--ui-color-success-500);
	--color-info: var(--ui-color-info-500);
	--color-warning: var(--ui-color-warning-500);
	--color-error: var(--ui-color-error-500)
}

.text-xs-plus {
  @apply text-[14px];
}

.text-overflow-ellipsis {
  @apply text-ellipsis overflow-hidden whitespace-nowrap;
}

html, body, #__nuxt, #app { height: 100%; }
