<div #contentWindow>
    <app-face-monitor></app-face-monitor>
    <div class="terminal-connect" *ngIf="view && view.connectMethod.component === 'koko'">
        <div *ngIf="view.connectMethod.value === 'web_sftp'" style="height: 100%; width: 100%">
            <elements-content-window *ngIf="view" [view]="view"></elements-content-window>
        </div>

        <div *ngIf="view.connectMethod.value === 'web_cli'" style="height: 100%; width: 100%">
            <mat-card class="header-card">
                <mat-card-header style="align-items: center">
                    <mat-card-title>
                        <mat-icon [matTooltip]="_i18n.instant('Close')" (click)="handleCloseConnect()">close</mat-icon>
                        {{ protocol.toUpperCase() }} {{ _i18n.instant('Session') }}
                    </mat-card-title>

                    <mat-divider [vertical]="true"></mat-divider>

                    <div class="info-section">
                        <div class="top-part">
                            <div class="desc">
                                <div style="font-weight: 400; margin-right: 5px">
                                    {{ _i18n.instant('asset') }}:
                                </div>
                                {{ assetName }}
                            </div>
                        </div>

                        <div class="bottom-part">
                            <div class="desc">
                                <div style="font-weight: 400; margin-right: 5px">
                                    {{ _i18n.instant('ConnectionTime') }}:
                                </div>
                                {{ startTime.toLocaleString() }}
                            </div>
                        </div>
                    </div>

                    <div class="action-section">
                        <div class="timer-container">
                            <div class="timer">
                                <div [class.active]="isActive" class="status-dot"></div>
                                <span>{{ totalConnectTime }}</span>
                            </div>
                        </div>

                        <div class="actions">
                            <div class="action-item">
                                <button mat-icon-button (click)="handleOpenDrawer('setting')"
                                        *ngIf="protocol !== 'k8s'">
                                    <mat-icon>settings</mat-icon>
                                </button>
                            </div>
                            <div class="action-item" *ngIf="!isNoneProtocol()">
                                <button mat-icon-button (click)="handleOpenDrawer('file')">
                                    <mat-icon>folder</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-card-header>
            </mat-card>

            <mat-card class="terminal-card">
                <mat-card-content style="height: 100%">
                    <elements-connect [direct]="true" (onNewView)="onNewView($event)"
                                      [ngStyle]="{'display': 'none'}"></elements-connect>
                    <elements-content-window #contentWindow *ngIf="view" [view]="view"></elements-content-window>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="gui" *ngIf="view && view.connectMethod.component === 'lion'">
        <div class="timer-container">
            <div class="timer">
                <div [class.active]="isActive" class="status-dot"></div>
                <span>{{ totalConnectTime }}</span>
            </div>
        </div>

        <div class="action-icons" [class.show]="showActionIcons">
            <div class="close-icon" (click)="handleCloseConnect()">
                <mat-icon [matTooltip]="_i18n.instant('Close')">close</mat-icon>
            </div>
        </div>

        <elements-content-window *ngIf="view" [view]="view" style="height: 100%; width: 100%"></elements-content-window>
    </div>
</div>
