.organization {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  padding-top: 3px;

  i {
    font-size: 14px;
    margin-left: 12px;
    color: var(--el-menu-text-color);
  }

  ::ng-deep .org-select {
    position: relative;
    padding: 0 5px;
    width: 100%;
    color: var(--el-menu-text-color);

    // 有绿边
    &.ant-select-focused .ant-select-selector {
      box-shadow: none !important;
    }

    .ant-select-selection {
      background: transparent !important;
      box-shadow: none;
      color: var(--el-menu-text-color);
      border: none;
    }

    .ant-select-selector {
      background: transparent !important;
      border: none !important;
      cursor: pointer;
      //padding: 0 !important;
    }

    &.ant-select-open {
      .ant-select-selector .ant-select-selection-item {
        opacity: 0.6;
      }
    }

    .ant-select-selection-item {
      display: flex;
      align-items: center;
      color: var(--el-menu-text-color);
      font-size: 13px;
    }

    .ant-select-arrow {
      color: var(--el-menu-text-color);
    }
  }
}
