.nav {
  display: block;
  height: 30px;
  padding-top: 0;
  background-color: #463e3e;
  list-style: none;
}

.nav ul {
  list-style-type: none;
  line-height: 24px;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  text-align: left;
}
.nav ul.nav-main {
  padding-inline-start: 15px;
}

.nav li {
  display: inline-block;
}

li p {
  color: #f0f0f1;
  font-family: Roboto,sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  padding: 2px 15px;
  height: 30px;
}

iframe {
  border-width: 0;
}
