<div class="nav">
  <ul class="nav-main">
    <li style="padding-right: 10px">
      <img id="left-logo" height="26px"/>
    </li>
    <ng-container *ngIf="sessionDetail">
      <li>
        <p>{{ 'User: ' | translate:{value: sessionDetail.user} }}</p>
      </li>
      <li>
        <p>{{ 'Asset: ' | translate:{value: sessionDetail.asset} }}</p>
      </li>
      <li>
        <p>{{ 'System User: ' | translate:{value: sessionDetail.system_user} }}</p>
      </li>
      <li>
        <p>{{ 'Protocol: ' | translate:{value: sessionDetail.protocol} }}</p>
      </li>
    </ng-container>
  </ul>
</div>
<div #contentWindow style="width: 100%; height: calc(100% - 30px)">
  <iframe #terminal [src]="iframeURL | safeUrl" *ngIf="iframeURL" width="100%" height="100%"></iframe>
</div>


