// font-awesome
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

// bootstrap
@import "~bootstrap/scss/bootstrap";

$FontPathOpenSans: "~npm-font-open-sans/fonts";
@import '~npm-font-open-sans/open-sans';
$roboto-font-path: "~roboto-fontface/fonts";
@import "~roboto-fontface/css/mixins.scss";

/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.7.1
 *
*/
$asset-path: '../static/imgs/inspinia';
@import "../assets/inspinia/style";

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
