// font-awesome
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

// bootstrap
// Todo: 去掉依赖
@import '~bootstrap/scss/bootstrap';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//$FontPathOpenSans: '~npm-font-open-sans/fonts';
//@import '~npm-font-open-sans/open-sans';
//$roboto-font-path: '~roboto-fontface/fonts';
//@import '~roboto-fontface/css/mixins.scss';

/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.7.1
 *
*/
$asset-path: '../static/imgs/inspinia';
// Todo: 去掉依赖
@import '../assets/inspinia/style';

//@import '~@swimlane/ngx-datatable/release/index.css';
//@import '~@swimlane/ngx-datatable/release/themes/material.css';
//@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@import './material.css';
@import '~material-design-icons/iconfont/material-icons.css';
$label-margin-bottom: 0;
.ztree * {
  background-color: inherit !important;
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
}

//.ztree li {
//font-size: 15pt !important;
//  padding-top: 5px !important;
//}
//
//.ztree li span.node_name {
//  padding-left: 8px !important;
//}

.ztree li span.button::before {
  color: #ffffff !important;
}

button.icon-split-handle.ngx-split-button {
  height: 100%;
  //border: 1px solid #3a3333;
  opacity: 0.0;
}

button.mat-raised-button {
  margin-left: 5px;
}

label {
  // Allow labels to use `margin` for spacing.
  display: inline-block;
  margin-bottom: 0;
}
