// font-awesome
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
$asset-path: '../static/imgs/inspinia';

//@import '~@swimlane/ngx-datatable/release/index.css';
//@import '~@swimlane/ngx-datatable/release/themes/material.css';
//@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@import './ztree.css';
@import './material.css';
@import '~material-design-icons/iconfont/material-icons.css';
$label-margin-bottom: 0;
.ztree * {
  background-color: inherit !important;
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
}

//.ztree li {
//font-size: 15pt !important;
//  padding-top: 5px !important;
//}
//
//.ztree li span.node_name {
//  padding-left: 8px !important;
//}

.ztree li span.button::before {
  color: #ffffff !important;
}

button.icon-split-handle.ngx-split-button {
  height: 100%;
  //border: 1px solid #3a3333;
  opacity: 0.0;
}

button.mat-raised-button {
  margin-left: 5px;
}

label {
  // Allow labels to use `margin` for spacing.
  display: inline-block;
  margin-bottom: 0;
}

body {
  font-size: 13px;
}
