.ztree li span.button {
  line-height: 0;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  border: 0px solid;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.ztree li span.button.ico_loading {
  margin-right: 2px;
  background: url(./icons/loading.gif) no-repeat scroll 0 0 transparent;
  vertical-align: top;
  *vertical-align: middle;
}

.ztree li span.button::before {
  font-family: FontAwesome;
  padding-top: 10px;
  padding-left: 2px;
  display: inline-block;
  color: #676a6c;
}

.ztree li span.button.chk {
  margin: 0px;
  cursor: auto;
  width: 12px;
  display: inline-block;
  padding-top: 10px;
  padding-left: 2px;
}
.ztree li span.button.chk.checkbox_false_full::before {
  content: "\f096";
}
.ztree li span.button.chk.checkbox_false_full_focus::before {
  content: "\f096";
  color: #676a6c;
}
.ztree li span.button.chk.checkbox_false_part::before {
  content: "\f096";
  color: #aaaaaa;
}
.ztree li span.button.chk.checkbox_false_part_focus::before {
  content: "\f096";
  color: #cad96c;
}
.ztree li span.button.chk.checkbox_false_disable::before {
  content: "\f096";
  color: #808080;
}
.ztree li span.button.chk.checkbox_true_full::before {
  content: "\f046";
}
.ztree li span.button.chk.checkbox_true_full_focus::before {
  content: "\f046";
}
.ztree li span.button.chk.checkbox_true_part::before {
  content: "\f14a";
}
.ztree li span.button.chk.checkbox_true_part_focus::before {
  content: "\f14a";
  color: #676a6c;
}
.ztree li span.button.chk.checkbox_true_full_focus::before {
  content: "\f046";
  color: #676a6c;
}
.ztree li span.button.chk.checkbox_true_part::before {
  content: "\f046";
  color: #aaaaaa;
}
.ztree li span.button.chk.checkbox_true_part_focus::before {
  content: "\f046";
  color: #cad96c;
}
.ztree li span.button.chk.checkbox_true_disable::before {
  content: "\f046";
  color: #808080;
}
.ztree li span.button.chk.radio_false_full::before {
  content: "\f10c";
}
.ztree li span.button.chk.radio_false_full_focus::before {
  content: "\f10c";
  color: #676a6c;
}
.ztree li span.button.chk.radio_false_part::before {
  content: "\f10c";
  color: #aaaaaa;
}
.ztree li span.button.chk.radio_false_part_focus::before {
  content: "\f10c";
  color: #676a6c;
}
.ztree li span.button.chk.radio_false_disable::before {
  content: "\f1db";
  color: #808080;
}
.ztree li span.button.chk.radio_true_full::before {
  content: "\f192";
}
.ztree li span.button.chk.radio_true_full_focus::before {
  content: "\f192";
  color: #676a6c;
}
.ztree li span.button.chk.radio_true_part::before {
  content: "\f192";
  color: #aaaaaa;
}
.ztree li span.button.chk.radio_true_part_focus::before {
  content: "\f192";
  color: #aaaaaa;
}
.ztree li span.button.chk.radio_true_disable::before {
  content: "\f1db";
  color: #808080;
}
.ztree li span.button.switch {
  width: 18px;
  height: 20px;
}
.ztree li span.button.root_open::before {
  content: "\f107";
}
.ztree li span.button.root_close::before {
  content: "\f105";
}
.ztree li span.button.roots_open::before {
  content: "\f107";
}
.ztree li span.button.roots_close::before {
  content: "\f105";
}
.ztree li span.button.center_open::before {
  content: "\f107";
}
.ztree li span.button.center_close::before {
  content: "\f105";
}
.ztree li span.button.bottom_open::before {
  content: "\f107";
}
.ztree li span.button.bottom_close::before {
  content: "\f105";
}
.ztree li span.button.root_docu {
  background: none;
}
.ztree li span.button.roots_docu::before {
  content: "\f114";
}
.ztree li span.button.noline_docu {
  background: none;
}
.ztree li span.button.ico_open::before {
  content: "\f07c";
}
.ztree li span.button.ico_close::before {
  content: "\f07b";
}
.ztree li span.button.ico_docu::before {
  content: "\f07b";
}
.ztree li span.button.file_ico_docu::before {
  content: "\f022";
}
.ztree li span.button.linux_ico_docu::before {
  content: "\f17c";
}
.ztree li span.button.windows_ico_docu::before {
  content: "\f17a";
}
.ztree li span.button.user-tie_ico_close::before {
  content: "\f2be";
}
.ztree li span.button.user-tie_ico_open::before {
  content: "\f2be";
}
.ztree li span.button.cloud_ico_close::before {
  content: "\f0c2";
}
.ztree li span.button.cloud_ico_open::before {
  content: "\f0c2";
}
.ztree li span.button.chrome_ico_docu::before {
  content: "\f268";
}

.ztree li span.button {
  margin-right: 2px;
  width: 16px;
  height: 16px;
}

.ztree li span.button.k8s_ico_docu {
  background: url('./icons/k8s.png') no-repeat scroll 0 0 transparent;
}

.ztree li span.button.mysql_ico_docu {
  background: url('./icons/mysql.svg') no-repeat scroll 0 0 transparent;
}

.ztree li span.button.oracle_ico_docu::before {
  content: "\f1c0";
}

.ztree li span.button.oracle_ico_docu::before {
  content: "\f1c0";
}

.ztree li span.button.database_ico_docu::before {
  content: "\f1c0";
}
.ztree li span.button.cloud_ico_docu::before {
  content: "\f0c2";
}
.ztree li span.button.edit {
  margin-left: 4px;
  margin-right: -1px;
  vertical-align: top;
  *vertical-align: middle;
  padding-top: 10px;
}
.ztree li span.button.edit::before {
  content: "\f044";
}
.ztree li span.button.remove {
  margin-left: 4px;
  margin-right: -1px;
  vertical-align: top;
  *vertical-align: middle;
  padding-top: 10px;
}
.ztree li span.button.remove::before {
  content: "\f1f8";
}
.ztree li span.button.add {
  margin-left: 4px;
  margin-right: -1px;
  vertical-align: top;
  *vertical-align: middle;
  padding-top: 10px;
}
.ztree li span.button.add::before {
  content: "\f067";
}
