<app-controlnav></app-controlnav>
<div *ngFor="let m of NavList.List;let i=index"
     [ngClass]="{'active':i==NavList.Active}"
>
  <app-element-term [index]="i"
                    [host]="m.host"
                    [userid]="m.user.id"
                    *ngIf="m.type=='ssh'">
  </app-element-term>
  <app-element-guacamole [index]="i"
                         [host]="m.host"
                         [userid]="m.user.id"
                         *ngIf="m.type=='rdp'">
  </app-element-guacamole>
  <app-element-settings [index]="i"
                        *ngIf="m.type=='settings'">
  </app-element-settings>
</div>
