<app-controlnav></app-controlnav>
<div *ngFor="let m of NavList.List;let i=index"
     [ngClass]="{'active':i==NavList.Active}"
>
  <app-element-term [host]="m.host"
                    [userid]="m.user.id"
                    [index]="i"
                    *ngIf="m.type=='ssh'">
  </app-element-term>
  <app-element-guacamole [host]="m.host"
                      [userid]="m.user.id"
                      [index]="i"
                      *ngIf="m.type=='rdp'">
  </app-element-guacamole>
</div>
