.DS_Store
.idea/
.vscode
go-client/test.go
go-client/build
interface/node_modules
interface/yarn.lock
interface/dist_electron
interface/dist

interface/new-Client/*

new-Client/node_modules
new-Client/out
new-Client/dist

ui/node_modules
ui/dist/r
node_modules
.venv
.DS_Store
*.log*
.data
.nuxt
.nitro
.cache
.output
.env
.cargo
target
dist
src-tauri/target
src-tauri/Cargo.lock
src-tauri/resources/*
src-tauri/gen/*
