<div id="content">
  <div class="tab-bar">
    <span (click)="toggleMenu.emit()" class="mobile-menu-icon">
      <i class="fa fa-sitemap"></i>
    </span>
    <div class="scroll-button">
      <a (click)="scrollLeft()" class="left"><i class="fa fa-caret-left"></i></a>
      <a (click)="scrollRight()" class="right"><i class="fa fa-caret-right"></i></a>
    </div>
    <div #tabs class="tabs">
      <ul [ngStyle]="{'width':tabsWidth+'px'}">
        <elements-content-tab
          (contextmenu)="onRightClick($event, i)"
          (onAction)="onViewAction($event)"
          *ngFor="let view of viewList;let i = index"
          [view]="view"
        >
        </elements-content-tab>
      </ul>
    </div>
  </div>
  <div [ngClass]="{'batch-input': showBatchCommand  }" id="winContainer">
    <elements-content-window *ngFor="let view of viewList" [view]="view"></elements-content-window>
  </div>
  <div
    *ngIf="showBatchCommand"
    id="batchCommandDiv"
  >
    <input
      (keydown.enter)="sendBatchCommand()"
      [(ngModel)]="batchCommand"
      maxlength="2048"
      placeholder=" {{'Send text to all ssh terminals'| translate }} ..."
      spellcheck="false" tabindex="2"
      title="{{'Send text to all ssh terminals'| translate }} ..."
      type="text"
    >
  </div>
</div>

<elements-connect (onNewView)="onNewView($event)" [ngStyle]="{'display': 'none'}"></elements-connect>

<div #rMenu *ngIf="isShowRMenu" [style.left]="pos.left" [style.top]="pos.top" class="view-menu">
  <table>
    <tbody>
    <tr *ngFor="let item of rMenuItems()" class="view-menu__item view-menu__item--separator">
      <ng-template [ngIf]="!item.disabled">
        <td (click)="item.callback()" class="view-menu__data">
          <span [ngClass]="item.icon" class="view-menu__icon fa"></span> {{ item.title | translate }}
        </td>
      </ng-template>
    </tr>
    </tbody>
  </table>
</div>
