$-border-x: #5a5959;
$-border-y: #1f1b1b;

#content {
  height: calc(100% - 30px);

  .tab-bar {
    border-left: 1px solid var(--el-border-color-y);

    .scroll-button {
      float: left;
      height: 30px;
      padding: 0 5px;
      overflow: hidden;
      line-height: 31px;
      font-size: 20px;
      color: var(--el-header-tab-icon-color);
      background-color: var(--el-header-tab-item-bg-color);

      .right {
        padding-left: 5px;
      }

      a.disabled {
        color: var(--el-header-dropdown-disable-text-color);
        cursor: not-allowed;
      }
    }

    .tabs {
      position: relative;
      height: 30px;
      overflow-y: hidden;
      overflow-x: hidden;

      ul {
        display: inline-block;
        height: 30px;
        min-width: 100%;
        padding-left: 0;
        margin: 0;
        background-color: var(--el-header-tab-item-bg-color);
      }
    }
  }

  #winContainer {
    height: 100%;

    .content-placeholder {
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: var(--el-main-bg-color);

      .system-tips {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: var(--el-main-text-color);
        overflow: hidden;
        font-size: 15px;
        opacity: 0.8;

        .crucial {
          margin-right: 6px;
          color: var(--el-main-crucial-text-color);
          font-weight: 500;
        }

        .tip {
          font-weight: 400;
        }

        li {
          line-height: 2;
        }
      }
    }

    .batch-input {
      height: calc(100% - 30px);
    }
  }
}

/*
 *  scrollbar
 */
.tabs::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #676a6c;
}

.tabs::-webkit-scrollbar {
  height: 2px;
}

.tabs::-webkit-scrollbar-thumb {
  background-color: #F5F5F5;
}

#batchCommandDiv {
  display: flex;
  height: 29px;
  border-left: solid 1px $-border-y;
  width: 100%;
  padding: 0 2px 0 0;
  background: #2f2a2a;

  &:focus-visible {
    outline: none;
  }

  i {
    margin: auto 7px;
    color: #ffffff;
    cursor: pointer;
    &:hover {
      color: #d6cbcb;
    }
  }

  .view_icon {
    width: 12px;
    height: 12px;
    margin: 0 !important;
    margin-right: 3px !important;
    vertical-align: middle;
    display: inline-block;
  }

  .view_icon::before {
    font-family: FontAwesome;
    color: #ffffff;
    display: inline-block;
  }
}

#batchCommandDiv input {
  flex: 1;
  height: 29px;
  width: 100%;
  line-height: 29px;
  border: none;
  background: #2f2a2a;
  color: #ffffff;

  &:focus-visible {
    outline: none;
  }
}

#batchCommandDiv {
  .send-range {
    width: auto;
    margin-left: 5px;
    &::ng-deep .mat-select-trigger {
      min-width: 70px;
      line-height: 29px;
      .mat-select-value {
        max-width: none;
        color: #ffffff;
      }
      .mat-select-arrow {
        color: #ffffff;
      }
    }
  }
  .command-list {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 3px 0;
    overflow: hidden;
    white-space: nowrap;
    transition: all .3s;
    .command-box {
      display: inline-block;
      max-width: 260px;
      height: 100%;
      line-height: 15px;
      padding: 4px;
      margin-right: 5px;
      border-radius: 4px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
      user-select: none;
      color: #d6cbcb;
      background-color: #463e3e;
      &:hover {
        color: #ffffff;
      }
      &:active {
        color: #ccc8c8;
      }
    }
  }
  .not-command {
    flex: 1;
    line-height: 29px;
    padding-left: 6px;
    color: #717171;
  }
  .action-left,
  .action-right {
    line-height: 29px;
  }
  .action-right {
    display: flex;
  }
}

::ng-deep .command-panel.mat-select-panel {
  margin-top: 27px;
  min-width: 100%!important;
  border-radius: initial!important;
  background: black;
  padding: 10px 0 !important;
}
::ng-deep .command-panel .mat-option {
  color: #f0f0f1;
  &:hover {
    background-color: rgba(53, 54, 51, 0.7)!important;
  }
}
::ng-deep .command-panel .mat-option.mat-active {
  color: #f0f0f1;
  font-weight: bold;
  background-color: rgba(53, 54, 51, 0.8)!important;
}
.command-option {
  line-height: 2.2em!important;
  height: 2.2em!important;
}

.view-menu {
  background: #000;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 0;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  position: absolute;
  opacity: 1;
  padding: 6px 0;
  z-index: 1000;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.view-menu, .view-menu * {
  box-sizing: border-box;
}

.view-menuContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  -webkit-tap-highlight-color: transparent;
}

.view-menu tr {
  margin: 0;
}

.view-menu__item {
  cursor: pointer;
  padding: 0 6px;
}

.view-menu td {
  display: block;
  padding: 1px 15px;
  text-decoration: none;
  min-width: 150px;
  width: auto;
  opacity: 1;
  white-space: nowrap;
  line-height: 24px;
  text-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  cursor: pointer;
  color: rgb(214, 203, 203);
}

.view-menu__icon {
  padding-right: 5px;
}

.view-menu__item.view-menu__item--separator {
  border: 0;
  border-top: none;
  border-left: none;
  text-shadow: 0 0 0 transparent;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 2px 0;
  &:hover {
    background-color: rgba(53,54,51, 0.7);
  }
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

tr:hover {
  background-color: #463e3e;
}

.view-menu table {
  border-spacing: 0 !important;
}

.view-menu__data {
  padding: 0 6px;
}

.mobile-menu-icon {
  float: left;
  display: none;
  height: 30px;
  width: 54px;
  line-height: 30px;
  background-color: #2f2a2a;
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;

  &:hover {
    border-bottom: 1px solid var(--primary-color);
  }
}

.drag-box {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  flex-grow: 1;
  flex-basis: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-box:last-child {
  border: none;
}

.drag-list.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.view-menu__icon.fa {
  width: 15px;
}

.input-box {
  display: flex;
  width: 100%;
  height: 100%;
}
