.tabs {
  height: 30px;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

.tabs ul {
  list-style-type: none;
  height: 30px;
  background-color: #3a3333;
  //display: block;
  display: inline-block;
  min-width: 100%;
  padding-left: 0;
  margin: 0;
}
/*
 *  scrollbar
 */
.tabs::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #676a6c;
}

.tabs::-webkit-scrollbar {
  height: 2px;
}

.tabs::-webkit-scrollbar-thumb {
  background-color: #F5F5F5;
}

.scroll-button {
  font-size: 20px;
  float: left;
  height: 30px;
  overflow: hidden;
  background-color: #3a3333;
  color: white;
  padding: 0 5px;
}

.scroll-button .right {
  padding-left: 5px;
}

.scroll-button a.disabled {
  color: #676A6D;
  cursor: not-allowed;
}

#content {
  height: 100%;
}

#winContainer {
  height: calc(100% - 30px - 26px);
}
#batchCommandDiv {
  height: 26px;
  border-left-width: 0;
  width: 100%;
  padding: 0 2px 0 0;
}

#batchCommandDiv > input {
  height: 26px;
  padding-left: 14px;
  width: 100%;
  line-height: 26px;
  border: none;
  background: #2f2a2a;
  color: #ffffff;
}

.basicContext {
  background: #000;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 0;
  box-shadow: 0 3px 6px 0px rgba(0,0,0,0.16);
  position: absolute;
  opacity: 1;
  padding: 6px 0;
  z-index: 1000;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.basicContext, .basicContext * {
  box-sizing: border-box;
}

.basicContextContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  -webkit-tap-highlight-color: transparent;
}

.basicContext tr {
  margin: 0;
}

.basicContext__item {
  cursor: pointer;
  padding: 0 6px;
}

.basicContext td {
  display: block;
  padding: 0 15px;
  text-decoration: none;
  min-width: 150px;
  width: auto;
  opacity: 1;
  white-space: nowrap;
  line-height: 24px;
  text-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  cursor: pointer;
  color: rgb(214, 203, 203);
}

.basicContext__icon {
  padding-right: 5px;
}

.basicContext__item.basicContext__item--separator {
  background: #181414;
  border: 0;
  border-top: none;
  height: 1px;
  min-height: 1px;
  max-height: 1px;
  padding: 0;
  border-left: none;
  text-shadow: 0 0 0 transparent;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 2px 0;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

tr:hover {
  background-color: #463e3e;
}

.basicContext table {
  border-spacing: 0 !important;
}

.basicContext__data {
  padding: 0 6px;
}


//
//.window {
//  height: 100%;
//}
