.sidebar {
  height: 100%;
  width: 100%;
  overflow: hidden;

  .tree {
    display: block;
  }

  .menu-icon {
    display: none;
  }

  &.collapsed {
    .tree {
      display: none;
    }

    .footer-version {
      justify-content: center;
    }

    .menu-icon {
      display: block;
    }
  }

  .organization {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30px;
    line-height: 30px;
    //padding: 0 15px 0 5px;
    color: var(--el-text-color-light);
    border-bottom: 1px solid var(--primary-color);
    background-color: var(--el-org-bg-color);

    &:hover {
      cursor: pointer;
    }
  }

  .my-assets {
    height: calc(100vh - 60px);
    color: var(--el-text-color-light);

    &.has-org {
      height: calc(100vh - 92px);
    }

    .overflow {
      display: flex;
      width: 100%;
      height: 100%;
    }

    .ngx-scroll-overlay {
      overflow: auto; // for FF
    }
  }

  .footer-version {
    display: flex;
    align-items: center;
    line-height: 30px;
    font-size: 9pt;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    // border-top: 1px solid var(--el-border-color-x);
    background-color: var(--el-banner-bg-color);
    color: var(--el-text-color-light);

    p {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      font-size: 13px;

      strong {
        padding-left: 5px;
      }
    }

    .menu-active {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 15px;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        color: var(--el-icon-hover-color);
      }

      .icon-active {
        transform: rotate(180deg);
      }
    }
  }
}

label {
  margin-bottom: 0;
}

.fa.fa-undefined:before {
  content: "\f26c";
}

.menu-icon {
  display: none;
  width: 100%;
  height: calc(100% - 32px);
  text-align: center;
  color: var(--el-text-color-light);
  transition: all 0.2s;
}

.menu-item {
  position: relative;
  width: 100%;
  height: 46px;
  line-height: 46px;
  cursor: pointer;
}

.menu-organization {
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  border-bottom: 1px solid var(--primary-color);
}

.menu-item:hover,
.menu-organization:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.menu-active {
  display: block;
  z-index: 11;
}

.mobile-menu {
  display: none;
  width: 100%;
  height: calc(100% - 29px);
  position: fixed;
  top: 30px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.mobile-menu > .content {
  width: 100%;
}
