.sidebar {
  height: 100%;
  width: 100%;
  overflow: auto;

  .organization {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 31px;
    line-height: 31px;
    padding: 0 15px 0 5px;
    color: var(--el-header-text-color);
    border-bottom: 1px solid var(--primary-color);
    background-color: var(--el-header-tab-item-bg-color);

    &:hover {
      cursor: pointer;
    }
  }

  .footer-version {
    display: flex;
    align-items: center;
    line-height: 30px;
    font-size: 9pt;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-top: 1px solid var(--el-border-color-x);
    background-color: var(--el-header-tab-item-bg-color);
    color: var(--el-header-nav-text-color);

    p {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      font-size: 13px;
    }

    .menu-active {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 10px 0 20px;
      cursor: pointer;
      transition: all .2s;

      &:hover {
        color: var(--el-icon-hover-color);
      }

      .icon-active {
        transform: rotate(180deg);
        margin-right: 12px;
      }
    }
  }
}

label {
  margin-bottom: 0;
}

.fa.fa-undefined:before {
  content: "\f26c";
}

.overflow {
  display: flex;
  width: 100%;
  height: 100%;
  float: left;
  position: inherit;
  background: #2f2a2a;
  color: #d6cbcb;
}


.ngx-scroll-overlay {
  overflow: auto; // for FF
}



.my-assets {
  height: calc(100vh - 60px);
}

.my-assets.has-org {
  height: calc(100vh - 90px);
}
