<div class="sidebar" fxLayout="column" >
  <div fxflex="30px" class="tree-filter">
    <elements-organization (outer)="assetTree.initTree()"></elements-organization>
  </div>
  <div fxflex="30px" class="tree-filter">
    <elements-tree-filter ></elements-tree-filter>
  </div>
  <div fxflex="calc(100% - 60px)" class="overflow ngx-scroll-overlay">
    <elements-asset-tree #assetTree></elements-asset-tree>
  </div>

  <div fxflex="30px" class="footer-version">
    <p> Version <strong>{{version}}</strong></p>
  </div>
</div>
