<h1 mat-dialog-title>{{ "Info" | translate }}</h1>

<div style="margin-bottom: 24px;">{{"InstallClientMsg"| translate}}</div>
<div class="auto-connect">
  <mat-checkbox name="auto-login" [(ngModel)]="hasDownLoad">
    {{ "Don't prompt again" | translate }}
  </mat-checkbox>
</div>

<mat-dialog-actions style="float: right; margin: 6px 0 0 0;">
  <button mat-raised-button (click)="onCancel()">{{"Cancel"| translate}}</button>
  <button mat-raised-button color="primary"  [mat-dialog-close]="true" (click)="onConfirm()">{{"Confirm"| translate}}</button>
</mat-dialog-actions>