.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.zone-label {
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  margin-bottom: 8px;
}

.mat-form-field-infix {
  border-top-width: 0!important;
}

.connect-type-group {
  border: solid #cbc9c9 1px;
  padding: 5px
}

.auto-connect {
  padding-top: 15px;
}
