<div>
  <h3 nz-typography nzTitle>{{ content.title | translate }}</h3>

  <div class="nz-modal-content">
    <div [class.error-message]="content.isError">
      {{ content.message | translate }}
      
      <!-- Custom content for no_face_feature -->
      <ng-container *ngIf="content.customContent?.type === 'link'">
        <a [href]="content.customContent.link">{{ content.customContent.linkText | translate }}</a>
      </ng-container>

      <!-- Custom content for ticket_review_pending -->
      <ng-container *ngIf="content.customContent?.type === 'ticket'">
        <br><br>
        {{ 'Assignees' | translate }}: <b>{{ content.customContent.assignees }}</b>
        <br><br>
        {{ 'Do not close this page' | translate }}
        <br><br>
        <nz-progress nzStatus="active"></nz-progress>
      </ng-container>
    </div>
  </div>

  <!-- Face verify capture iframe -->
  <ng-container *ngIf="code === 'face_verify_capture' && faceVerifyUrl">
    <iframe
      [src]="faceVerifyUrl"
      allow="camera"
      sandbox="allow-scripts allow-same-origin"
      style="width: 100%; height: 540px;border: none;">
    </iframe>
  </ng-container>

  <div *nzModalFooter class="nz-modal-footer">
    <ng-container *ngFor="let action of content.actions">
      <button nz-button 
              [nzType]="action.type || 'default'"
              (click)="action.callback()">
        {{ action.text | translate }}
      </button>
    </ng-container>
  </div>
</div>
