<div>
  <h2 mat-dialog-title> {{ 'Login reminder' | translate }} </h2>

  <div [ngSwitch]="code">
    <div *ngSwitchCase="'acl_reject'">
      <mat-dialog-content>
        <div class="error-message">{{ 'ACL reject login asset' | translate }}</div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button (click)="closeDialog()" color="primary" mat-button>{{ "Close" | translate }}</button>
      </mat-dialog-actions>
    </div>

    <div *ngSwitchCase="'acl_review'">
      <mat-dialog-content>
        <div>{{ 'Need review for login asset' | translate }}</div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button (click)="onCancelReview()" mat-raised-button>{{ "Cancel" | translate }}</button>
        <button (click)="onConfirmReview()" color="primary" mat-raised-button>{{ "Confirm" | translate }}</button>
      </mat-dialog-actions>
    </div>

    <div *ngSwitchCase="'acl_face_online'">
      <mat-dialog-content>
        <div>{{ '需要人脸识别且监控，是否继续？' | translate }}</div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button (click)="onCancelFaceVerify()" mat-raised-button>{{ "Cancel" | translate }}</button>
        <button (click)="onConfirmFaceOnline()" color="primary" mat-raised-button>{{ "Confirm" | translate }}</button>
      </mat-dialog-actions>
    </div>

    <div *ngSwitchCase="'acl_face_verify'">
      <mat-dialog-content>
        <div>{{ 'Facial recognition is required. Do you want to proceed?' | translate }}</div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button (click)="onCancelFaceVerify()" mat-raised-button>{{ "Cancel" | translate }}</button>
        <button (click)="onConfirmFaceVerify()" color="primary" mat-raised-button>{{ "Confirm" | translate }}</button>
      </mat-dialog-actions>
    </div>

    <div *ngSwitchCase="'no_face_feature'">
      <mat-dialog-content>
        <div class="error-message">No available facial features,go to <a href="/ui/#/profile/index">profile</a>page to bind your facial data</div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button (click)="closeDialog()" mat-raised-button>{{ "Close" | translate }}</button>
      </mat-dialog-actions>
    </div>

    <div *ngSwitchCase="'face_verify_capture'">
      <iframe
        *ngIf="faceVerifyUrl"
        [src]="faceVerifyUrl"
        allow="camera"
        sandbox="allow-scripts allow-same-origin"
        style="width: 100%; height: 540px;border: none;"></iframe>
    </div>

    <div *ngSwitchCase="'ticket_review_pending'">
      <mat-dialog-content>
        <div>
          {{ 'Ticket review pending for login asset' | translate }}
          <br><br>
          {{ 'Assignees' | translate }}: <b>{{ ticketAssignees }}</b>
          <br><br>
          {{ 'Do not close this page' | translate }}
          <br><br>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button (click)="onCancelWait()" mat-raised-button>{{ "Cancel" | translate }}</button>
        <button
          (cbOnSuccess)="onCopySuccess($event)"
          [cbContent]="ticketDetailPageURL"
          color="primary"
          mat-raised-button
          ngxClipboard
        >{{ "Copy link" | translate }}
        </button>
      </mat-dialog-actions>
    </div>

    <div *ngSwitchCase="'ticket_review_rejected'">
      <mat-dialog-content>
        <div class="error-message">{{ 'Ticket review rejected for login asset' | translate }}</div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button (click)="closeDialog()" mat-raised-button>{{ "Close" | translate }}</button>
      </mat-dialog-actions>
    </div>

    <div *ngSwitchCase="'ticket_review_closed'">
      <mat-dialog-content>
        <div class="error-message">{{ 'Ticket review closed for login asset' | translate }}</div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button (click)="closeDialog()" mat-raised-button>{{ "Close" | translate }}</button>
      </mat-dialog-actions>
    </div>

    <div *ngSwitchCase="'perm_account_invalid'">
      <mat-dialog-content>
        <div class="error-message 11">{{ 'Account not found' | translate }}</div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button (click)="closeDialog()" mat-raised-button>{{ "Close" | translate }}</button>
      </mat-dialog-actions>
    </div>

    <div *ngSwitchCase="'other'">
      <mat-dialog-content>
        <div class="error-message">{{ otherError }}</div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button (click)="closeDialog()" mat-raised-button>{{ "Close" | translate }}</button>
      </mat-dialog-actions>
    </div>

    <div *ngSwitchDefault>
      <mat-dialog-content>
        <div class="error-message">{{ errorDetail }}</div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button (click)="closeDialog()" mat-raised-button>{{ "Close" | translate }}</button>
      </mat-dialog-actions>
    </div>
  </div>
</div>
