/*.left-search {*/
  /*padding-left: 14px;*/
  /*width: 100%;*/
  /*border: none;*/
/*}*/
.search {
  border: 1px solid #676a6c;
  border-radius: 14px;
  border-left-width: 0;
  /* border-bottom: #19aa8d 1px inset; */
  width: 100%;
  background: #3a3333;
  color: #d6cbcb;
  height: 30px;
  padding-left: 10px;
  margin-top: 6px;
/* padding-top: 30px;
//position: fixed;
//height: 28px;
*/
}

