<div class="frame-container">
  <div *ngIf="debug" class="debug-msg">
    <pre style="color: white; padding: 20px">{{ src }}</pre>
  </div>

  <div *ngIf="!show" [ngClass]="{'debug': debug}" class="spinner-container">
    <mat-spinner [diameter]="50" class="loading"></mat-spinner>
  </div>

  <iframe
    #iFrame
    *ngIf="src"
    [id]="id"
    [src]="src | safeUrl"
    [style.visibility]="show ? 'visible' : 'hidden'"
    allowtransparency="true"
    height="100%"
    width="100%"
  >
  </iframe>
</div>


