<div
  #contentWindow
  [id]="id"
  [ngClass]="{'active': view.active}"
  class="window"
>
  <div class="view">
    <div
      *ngIf="!loading"
      class="sub-view"
      [ngClass]="{'many-view': subViews.length > 1, 'three-view': subViews.length == 2}">
      <elements-content-view
        [view]="view"
        [hasHead]="true"
        [canClose]="false"
      ></elements-content-view>
    </div>
    <div
      *ngFor="let sub of subViews"
      class="sub-view"
      [ngClass]="{'many-view': subViews.length > 1}"
    >
      <div *ngIf="sub.smartEndpoint">
        <elements-content-view
          [view]="sub"
          [hasHead]="true"
          [canClose]="true"
        ></elements-content-view> 
      </div>
    </div>
  </div>
</div>
