div, elements-term, elements-guacamole {
  height: 100%;
}

.window {
  display: none;
  height: 100%;
  width: 100%;
  /*padding: 15px;*/
}

.active {
  display: flex;
}

.view {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.sub-view {
  flex: 1;
  height: 100%;
  border-left: 1px solid black;
}

.many-view {
  flex: 0 0 50%;
}

.height-view {
  height: 50%;
}

.three-view {
  flex: 0 0 100%;
}
