div, elements-term, elements-guacamole {
  height: 100%;
}

.window {
  display: none;
  height: 100%;
  width: 100%;
  /*padding: 15px;*/
}

.active {
  display: flex;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container:nth-child(2n - 1) {
  border-left: 1px solid black;
}

.head {
  height: 26px;
  line-height: 26px;
  padding: 0 10px 0 8px;
  color: #ffffff;
  background-color: #2f2a2a;
}

.close {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 8px;
  line-height: 26px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  cursor: pointer;
}

.as-horizontal > .as-split-area {
  font-size: 0 !important;
  overflow-y: hidden !important;
}

::ng-deep .as-horizontal > .as-split-gutter {
  border-left: 1px solid #463e3e !important;
}
