<div
  #contentWindow
  [id]="id"
  [ngClass]="{'active': view.active}"
  [ngSwitch]="connector"
  class="window"
>
  <div *ngIf="!loading">
    <elements-connector-magnus
      *ngSwitchCase="'magnus'"
      [view]="view">
      >
    </elements-connector-magnus>
    <elements-connector-koko
      *ngSwitchCase="'koko'"
      [view]="view"
    >
    </elements-connector-koko>
    <elements-connector-default
      *ngSwitchDefault
      [connector]="connector"
      [view]="view"
    >
    </elements-connector-default>
  </div>
</div>
