<div class="panel-options">
  <ul class="nav nav-tabs">
    <li>
      <a href=" " class="text-center"><i
        class="fa fa-cubes"></i> trans 'Basic setting'</a>
    </li>
    <li>
      <a href=" " class="text-center"><i
        class="fa fa-envelope"></i> trans 'Email setting' </a>
    </li>
    <li>
      <a href=" " class="text-center"><i
        class="fa fa-archive"></i> trans 'LDAP setting' </a>
    </li>
    <li class="active">
      <a href=" " class="text-center"><i
        class="fa fa-hdd-o"></i> trans 'Terminal setting' </a>
    </li>
  </ul>
</div>
