<div class="advanced-option">
  <nz-collapse>
    <nz-collapse-panel *ngIf="isShowAdvancedOption"
                       [nzHeader]="'Advanced option' | translate">
      <div class="options-container">
        <ng-container *ngFor="let item of advancedOptions">
          <span>
            <div *ngIf="item.type === 'checkbox'" class="option-item">
              <label
                (ngModelChange)="onChange()"
                [(ngModel)]="connectOption[item.field]"
                [name]="item.field"
                nz-checkbox
              >
                {{ item.label | translate }}
              </label>
            </div>
            <ng-container *ngIf="item.type === 'select'">
              <div class="option-item">
                <nz-form-label>{{ item.label | translate }}</nz-form-label>
                <nz-select
                  (ngModelChange)="onChange()"
                  [(ngModel)]="connectOption[item.field]"
                  [name]="item.field"
                  style="width: 100%"
                >

                  <nz-option
                    *ngFor="let option of item.options"
                    [nzLabel]="option.label | translate"
                    [nzValue]="option.value"
                  ></nz-option>
                </nz-select>
              </div>
            </ng-container>
            <ng-container *ngIf="item.type === 'radio'">
              <div class="option-item">
                <nz-form-label style="margin-right: 10px">{{ item.label | translate }}</nz-form-label>
                <nz-radio-group
                  (ngModelChange)="onChange()"
                  [(ngModel)]="connectOption[item.field]"
                  [name]="item.field"
                >
                  <label
                    *ngFor="let option of item.options"
                    [nzValue]="option.value"
                    nz-radio
                  >{{ option.label | translate }}</label>
                </nz-radio-group>
              </div>
            </ng-container>
          </span>
        </ng-container>
      </div>
    </nz-collapse-panel>
  </nz-collapse>
</div>
