.advanced-option {
  margin-top: 1.25em;
}

.mat-expansion-panel-header {
  height: 32px !important;
  padding: 0 4px 0 0;
}

.mat-expansion-panel-header-title {
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.mat-expansion-panel {
  border-bottom: 1px solid rgb(0, 0, 0, 12%);

  &::ng-deep .mat-expansion-panel-body {
    padding: 0 0 0 !important;
  }
}

.mat-expansion-panel.panel-show.mat-expanded {
  border-bottom: none;

  &::ng-deep .mat-expansion-panel-content {
    padding: 10px 5px 0 5px;
    border: solid 1px rgb(0, 0, 0, 12%);
  }
}

.mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

.example-radio-button {
  margin: 2px;
}


.option-item.mat-form-field {
  margin-top: 10px;
}

.option-item {
  flex: 0 0 49%;
  box-sizing: border-box;
  padding: 0 5px;
}

.mat-checkbox-layout {
  margin-left: 12px !important;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline; /* 添加这一行 */
}

.options-container > ng-container {

}

