<div class="header">
  <div class="controls">
    <button nz-button nzType="default" nzSize="small" (click)="speedDown()">
      <nz-icon nzType="fast-backward" nzTheme="outline" />
    </button>
    <button nz-button nzType="default" nzSize="small" (click)="restart()">
      <nz-icon nzType="redo" nzTheme="outline" />
    </button>
    <button nz-button nzType="default" nzSize="small" (click)="speedUp()">
      <nz-icon nzType="fast-forward" nzTheme="outline" />
    </button>
    </div>
  
  <div class="info">
    <span>
    {{ "Speed"| translate }}: {{ speed }}
    </span>
    <span id="user" style="padding-left: 20px" *ngIf="replay.user">{{ "user"| translate }} : {{ replay.user }}</span>
    <span id="asset" style="padding-left: 20px" *ngIf="replay.asset">{{ "asset"| translate }} : {{ replay.asset }}</span>
    <span id="system_user" style="padding-left: 20px" *ngIf="replay.system_user">{{ "system user"| translate }}
      : {{ replay.system_user }}</span>
    <span id="date_start" style="padding-left: 20px" *ngIf="replay.date_start">{{ "start time"| translate }}
      : {{ startTime }} </span>
    <span id="download" style="padding-left: 30px" *ngIf="replay.download_url">
      <a type="button" [href]="replay.download_url">{{ "download"| translate }}</a>
    </span>
  </div>
</div>
<div id="player">
  <nz-splitter nzGutterSize="0">
    <nz-splitter-panel
      *ngIf="commands.length" nzDefaultSize="15%" nzMin="5%" nzMax="35%" order="0">
      <div class="command-results"
           infiniteScroll
           [infiniteScrollDistance]="2"
           [infiniteScrollThrottle]="50"
           (scrolled)="onScroll()"
           [scrollWindow]="false">

        <h3>Commands</h3>
        <div class="item" *ngFor="let item of commands" (click)="commandClick(item)">
          <div class="command" [title]="item.input">{{ item.input }}</div>
          <div class="timestamp">{{ item.atime }}</div>
        </div>
      </div>
    </nz-splitter-panel>
    <nz-splitter-panel >
      <div id="screen"></div>
    </nz-splitter-panel>
  </nz-splitter>
</div>




