<div>
  <div class="tree-type">
    <span class="tree-type-banner">
      <span class="tree-type-banner-label">
        {{ "My assets"| translate }}
      </span>
      <span class="tree-banner-icon-zone">
        <a class="tree-search" id="assetsSearchIcon">
          <i class="fa fa-search icon" (click)="treeSearch('assetsSearch')"></i>
          <input type="text" id="assetsSearchInput" class="tree-input">
        </a>
        <i class="fa fa-refresh tree-banner-icon" (click)="refreshAssetsTree()"></i>
      </span>
    </span>
    <div class="tree-type-content">
      <div *ngIf="assetsLoading" class="tree-type-loading">
        <mat-spinner diameter="20"></mat-spinner>
      </div>
      <ul id="assetsTree" class="ztree">
      </ul>
    </div>
  </div>
  
  <div class="tree-type">
    <span class="tree-type-banner">
      <span class="tree-type-banner-label">
        {{ "My applications"| translate }}
      </span>
      <span class="tree-banner-icon-zone">
        <a class="tree-search" id="applicationsSearchIcon">
          <i class="fa fa-search icon" (click)="treeSearch('applicationsSearch')"></i>
          <input type="text" id="applicationsSearchInput" class="tree-input">
        </a>
        <i class="fa fa-refresh tree-banner-icon" (click)="refreshApplicationTree()"></i>
      </span>
    </span>
    <div class="tree-type-content">
      <div *ngIf="applicationsLoading" class="tree-type-loading">
        <mat-spinner diameter="20"></mat-spinner>
      </div>
      <ul id="applicationsTree" class="ztree">
      </ul>
    </div>
  </div>
</div>

<div #rMenu *ngIf="isShowRMenu" class="basicContext" style="position: fixed" [style.top]="pos.top" [style.left]="pos.left">
  <table>
      <tbody>
        <tr *ngFor="let menu of RMenuList; let i = index" class="basicContext__item ">
            <td class="basicContext__data" [attr.data-num]="i" (click)="menu.click()" [ngStyle]="{'display': menu.hide ? 'none': ''}">
              <span class="basicContext__icon fa" [ngClass]="menu.fa"></span> {{ menu.name| translate }}
            </td>
        </tr>
        </tbody>
    </table>
</div>
