<div>
  <div class="tree-type">
    <span
      class="tree-type-banner"
    >
    <div
      class="tree-banner-left"
      (click)="foldTree('assets')"
    >
      <i
        id="assetsFoldStatus"
        class="fa fa-caret-down tree-icon-rotate"
      ></i>
      <span class="tree-type-banner-label">
        {{ "My assets"| translate }}
      </span>
    </div>

      <span
        class="tree-banner-icon-zone"
        [hidden]="assetsTreeHidden"
      >
        <a class="tree-search" id="assetsSearchIcon">
          <i
            class="fa fa-search tree-banner-icon"
            (click)="treeSearch($event, 'assets')"
          ></i>
          <input
            type="text"
            id="assetsSearchInput"
            class="tree-input"
            [(ngModel)]="assetsSearchValue"
          />
        </a>
        <i
          class="fa fa-refresh tree-banner-icon"
          (click)="refreshTree($event, 'asset')"
        ></i>
      </span>
    </span>
    <div
      class="tree-type-content"
      [hidden]="assetsTreeHidden"
    >
      <div *ngIf="assetsLoading" class="tree-type-loading">
        <mat-spinner diameter="20"></mat-spinner>
      </div>
      <ul id="assetsTree" class="ztree">
      </ul>
    </div>
  </div>
  
  <div [hidden]="!applicationTreeHasNodes" class="tree-type tree-type-app">
    <span
      class="tree-type-banner"
    >
    <div
      class="tree-banner-left"
      (click)="foldTree('applications')"
    >
      <i
        id="applicationsFoldStatus"
        class="fa fa-caret-down tree-icon-rotate"
      ></i>
      <span class="tree-type-banner-label">
        {{ "My applications"| translate }}
      </span>
    </div>

      <span
        class="tree-banner-icon-zone"
        [hidden]="applicationsTreeHidden"
      >
        <a class="tree-search" id="applicationsSearchIcon">
          <i
            class="fa fa-search tree-banner-icon"
            (click)="treeSearch($event, 'applications')"
          ></i>
          <input
            type="text"
            id="applicationsSearchInput"
            class="tree-input"
            [(ngModel)]="applicationsSearchValue"
          />
        </a>
        <i
          class="fa fa-refresh tree-banner-icon"
          (click)="refreshTree($event, 'applications')"
        ></i>
      </span>
    </span>
    <div
      class="tree-type-content"
      [hidden]="applicationsTreeHidden"
    >
      <div *ngIf="applicationsLoading" class="tree-type-loading">
        <mat-spinner diameter="20"></mat-spinner>
      </div>
      <ul id="applicationsTree" class="ztree">
      </ul>
    </div>
  </div>
</div>

<div #rMenu *ngIf="isShowRMenu" class="basicContext" style="position: fixed" [style.top]="pos.top" [style.left]="pos.left">
  <table>
      <tbody>
        <tr *ngFor="let menu of RMenuList; let i = index" class="basicContext__item ">
            <td class="basicContext__data" [attr.data-num]="i" (click)="menu.click()" [ngStyle]="{'display': menu.hide ? 'none': ''}">
              <span class="basicContext__icon fa" [ngClass]="menu.fa"></span> {{ menu.name| translate }}
            </td>
        </tr>
        </tbody>
    </table>
</div>
