@import "~@swimlane/ngx-ui/release/components/tree/tree.component";
@import "~@swimlane/ngx-ui/release/components/icon/icon.component";

.ztree {
  height: 100%;
  background-color: inherit;
}

.ztree * {
  font-family: 'Monaco', 'Consolas', 'monospace' !important;
}
