nz-float-button-group,
nz-float-button {
  position: absolute;
  right: 0;
  top: 0;
}

.chat-container {
  position: fixed;
  bottom: 200px;
  right: 5px;
  z-index: 1000;
  cursor: move;
  user-select: none;
  overflow: visible;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  ::ng-deep {
    .ant-float-btn-group {
      position: absolute;
      padding: 10px 0;
      opacity: 0.8;
    }

    .ant-float-btn-group-circle .ant-float-btn-circle:not(:last-child) {
      margin-bottom: 5px;
    }

    .ant-float-btn-default, .ant-float-btn-default .ant-float-btn-body {
      background: rgba(255, 255, 255, 0.05);

      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }

    .ant-btn .anticon {
      color: white;
    }

    img {
      width: 18px;
      height: 18px;
      opacity: 0.8;
    }
  }

  .content {
    height: 100%;

    iframe {
      border: none;
    }
  }
}

//
.drawer-panel {
   background-color: transparent;
   position: fixed;
   top: 0;
   right: 440px;
   width: 440px;
   min-width: 260px;
   height: 100vh;
   user-select: none;
   border-radius: 10px 0 0 10px;
   transition: transform .25s cubic-bezier(.7, .3, .1, 1);
   box-shadow: 0 0 8px 4px #00000014;
   transform: translate(100%);
   z-index: 1000;
   opacity: 0.95;
}

.show {
  transition: all .3s cubic-bezier(.7, .3, .1, 1);
}

.show .modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
}

.show .drawer-panel {
  transform: translate(0);
}
