.chat-container {
  overflow: hidden;

  .content {
    height: 100%;

    iframe {
      border: none;
    }
  }
}

.drawer-panel {
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 440px;
  width: 440px;
  min-width: 260px;
  height: 100vh;
  user-select: none;
  border-radius: 10px 0 0 10px;
  transition: transform .25s cubic-bezier(.7, .3, .1, 1);
  box-shadow: 0 0 8px 4px #00000014;
  transform: translate(100%);
  z-index: 1000;
  opacity: 0.95;
}

#dragBox {
  position: absolute;
  bottom: 20%;
  right: 1px;
  cursor: pointer;
  pointer-events: auto;
  z-index: 999;
  display: flex;
  flex-direction: column; /* 垂直方向排列子元素 */
  align-items: flex-end; /* 右对齐子元素 */

  &:hover {
    cursor: pointer;

    img {
      opacity: 1;
    }
  }
}

.robot-button {
  width: 48px;
  height: 45px;
  line-height: 45px;
  box-sizing: border-box;
  text-align: center;
  font-size: 24px;
  border-radius: 20px 0 0 20px;
  z-index: 0;
  pointer-events: auto;
  color: #fff;
  background-color: rgba(88, 88, 88, .8);
  box-shadow: 0 0 8px 4px #00000014;
  cursor: pointer;


  i {
    font-size: 20px;
    line-height: 45px;
    opacity: 0.8;
  }

  img {
    width: 20px;
    height: 20px;
    margin-left: 3px;
    opacity: 0.8;
  }
}

.drag-setting {
  width: 36px;
  height: 36px;
  line-height: 38px;
  margin-bottom: 2px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(88, 88, 88, .8);
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
  position: relative;

  &:hover {
    .setting-list {
      display: block;
      transform: translateY(0);
    }

    i {
      opacity: 1;
      transform: rotate(45deg);
    }
  }

  i {
    font-size: 18px;
    color: white;
    opacity: 0.8;
  }

  .setting-list {
    position: absolute;
    bottom: 35px;
    right: 4px;
    margin: 0;
    padding: 0;
    display: none;
    list-style-type: none;
    transition: all 0.3s ease;
    transform: translateY(100%);
    z-index: 1000;

    .setting-item {
      width: 28px;
      height: 28px;
      line-height: 28px;
      padding: 2px;
      border-radius: 50%;
      margin-bottom: 2px;
      overflow: hidden;
      background-color: #FFFFFF;

      &:hover {
        background-color: #f0f1f5;
        border-color: #a0a0a0;
      }
    }
  }
}

.show {
  transition: all .3s cubic-bezier(.7, .3, .1, 1);
}

.show .modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
}

.show .drawer-panel {
  transform: translate(0);
}
