<div [ngClass]="{'show': !isShow}" class="chat-container" id="chatContainer">
  <div (click)="toggle()" class="modal"></div>
  <div class="drawer-panel">
    <div [hidden]="!isShow" id="dragBox">
      <div
        (click)="onSettingOpenDrawer()"
        [hidden]="!isShowSetting || subViews.length > 1"
        class="drag-setting"
      >
        <i class="fa fa-cog"></i>
      </div>
      <div [hidden]="!chatAiEnabled" class="drag-button">
        <img alt="" src="assets/icons/chat-ai.png"/>
      </div>
    </div>
    <div class="content">
      <iframe
        [src]="iframeURL | safeUrl"
        height="100%"
        title="chat"
        width="100%"
      ></iframe>
    </div>
  </div>
</div>
