<section class="shortcut-keys-container">
  <nz-divider nzDashed [nzText]="text" nzOrientation="left">
    <ng-template #text>
      {{ 'Available shortcuts' | translate }}
    </ng-template>
  </nz-divider>

  <div class="shortcut-keys-grid">
    @for (shortcut of shortcutKeys; track shortcut.label) {
      <nz-card
        class="shortcut-key-card"
        [class.disabled]="!isTerminalConnected"
        nzHoverable
        (click)="isTerminalConnected && shortcut.click()">
        <div class="shortcut-key-content">
          <div class="shortcut-key-icon">
            <nz-icon [nzType]="shortcut.icon" nzTheme="outline" />
          </div>
          <div class="shortcut-key-info">
            <div class="shortcut-key-combination">
              {{ shortcut.label | translate }}
            </div>
          </div>
        </div>
      </nz-card>
    }
  </div>
</section>
