<button type="button" class="btn">
  <i class="fa fa-stop" aria-hidden="true"></i>
</button>
<button type="button" class="btn">
  <i class="fa fa-step-backward" aria-hidden="true"></i>
</button>
<button type="button" class="btn">
  <i class="fa fa-backward" aria-hidden="true"></i>
</button>
<button type="button" class="btn" (click)="play()">
  <i class="fa" aria-hidden="true" [ngClass]="{'fa-play':!playing,'fa-pause': playing}"></i>
</button>
<button type="button" class="btn">
  <i class="fa fa-forward" aria-hidden="true"></i>
</button>
<button type="button" class="btn">
  <i class="fa fa-step-forward" aria-hidden="true"></i>
</button>
<button type="button" class="btn">
  <i class="fa fa-expand" aria-hidden="true"></i>
</button>
<button type="button" class="btn">
  <i class="fa fa-compress" aria-hidden="true"></i>
</button>
<app-mp4 *ngIf='video.type=="mp4"'></app-mp4>
<app-json *ngIf='video.type=="json"'></app-json>
