<div class="window" [ngClass]="{'active':view.active}" style="height: 100%">
  <elements-ssh-term
    [view]="view"
    [host]="view.host"
    [sysUser]="view.user"
    [token]="view.token"
    [shareroomId] = "view.shareroomId"

    *ngIf="view.type=='ssh' || view.type=='database'|| view.type=='k8s'"
  >
  </elements-ssh-term>
  <elements-guacamole
    [view]="view"
    [host]="view.host"
    [sysUser]="view.user"
    [remoteAppId]="view.remoteApp"
    [token]="view.token"
    *ngIf="view.type=='rdp'"
  >
  </elements-guacamole>
  <app-sftp *ngIf="view.type=='sftp'" [host]="view.host"></app-sftp>
</div>
