<div>
  <!--<button type="button" class="btn">-->
    <!--<i class="fa fa-stop" aria-hidden="true"></i>-->
  <!--</button>-->
  <!--<button type="button" class="btn">-->
    <!--<i class="fa fa-step-backward" aria-hidden="true"></i>-->
  <!--</button>-->
  <button type="button" class="btn">
    <i class="fa fa-backward" aria-hidden="true" (click)="speedDown()"></i>
  </button>
  <button type="button" class="btn" (click)="toggle()">
    <i class="fa" aria-hidden="true" [ngClass]="{'fa-play':!play,'fa-pause': play}"></i>
  </button>
  <button type="button" class="btn" (click)="speedUp()">
    <i class="fa fa-forward" aria-hidden="true"></i>
  </button>
  <!--<button type="button" class="btn">-->
    <!--<i class="fa fa-step-forward" aria-hidden="true"></i>-->
  <!--</button>-->
  <!--<button type="button" class="btn">-->
    <!--<i class="fa fa-expand" aria-hidden="true"></i>-->
  <!--</button>-->
  <!--<button type="button" class="btn">-->
    <!--<i class="fa fa-compress" aria-hidden="true"></i>-->
  <!--</button>-->
  <button type="button" class="btn" (click)="restart()">
    <i class="fa fa-repeat" aria-hidden="true"></i>
  </button>

  <input id="scrubber" type="range" [(ngModel)]="percent" min=0 max=100 (mousedown)="stop()" (mouseup)="runFrom()"/>

  {{time | utcDate | date:"HH:mm:ss"}}
  {{"Speed"|trans}}: {{speed}}
</div>

<elements-term [term]="term"></elements-term>
<!--<asciinema-player></asciinema-player>-->
