@import 'tailwindcss';
@import './keyboard.css';

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Italic.ttf');
  font-weight: 300;
  font-style: italic;
}

body {
  height: 100%;
  /* -moz-osx-font-smoothing: grayscale; */
  -webkit-font-smoothing: auto;
  background-color: #000000;
  font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.428;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background-color: #494141;
  border-radius: 6px;
}
