.tabs {
  height: 30px;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

.tabs ul li.disconnected {
  background-color: darkgray;
}

.tabs ul li.hidden {
  display: none;
}

.tabs ul {
  list-style-type: none;
  height: 30px;
  background-color: #3a3333;
  display: block;
  min-width: 100%;
  padding-left: 0;
}

.tabs ul li {
  display: inline-table;
  width: 150px;
  height: 30px;
  position: relative;
  box-sizing: content-box;
  float: left;;
}

.tabs ul li.active {
  box-sizing: border-box;
  border-bottom: 3px solid #19aa8d !important;
}

.tabs ul li span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: gray;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-decoration: none;
  padding-left: 12px;
  padding-right: 14px;
  line-height: 26px;
  cursor: default;
  width: 145px;
  height: 21px;
  display:inline-block;
}

.tabs ul li a.close {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  position: absolute;
  color: gray;
  top: 0;
  right: 5px;
  cursor: pointer;
  line-height: 26px;
  display: inline-block;
}

.tabs ul li.active a {
  color: white;
}

.tabs ul li.active span {
  padding-left: 12px;
  line-height: 26px;
  color: white;
  height: 18px;
}

.tabs ul li input {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  width: 115px;
  border: none;
  background-color: inherit;
  color: white;
  padding: 5px 20px 4px 15px;
  height: 18px;
}

/*
 *  scrollbar
 */
.tabs::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #676a6c;
}

.tabs::-webkit-scrollbar {
  height: 2px;
}

.tabs::-webkit-scrollbar-thumb {
  background-color: #F5F5F5;
}

.scroll-botton {
  font-size: 20px;
  float: left;
  height: 30px;
  overflow: hidden;
  background-color: #3a3333;
  color: white
}
