.tabs {
  height: 30px;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

.tabs ul li.disconnected {
  background-color: darkgray;
}

.tabs ul li.hidden {
  display: none;
}

.tabs ul {
  list-style-type: none;
  height: 30px;
  background-color: #3a3333;
  display: block;
  min-width: 100%;
  padding-left: 0;
}

.tabs ul li {
  display: inline-table;
  width: 150px;
  height: 30px;
  position: relative;
  box-sizing: content-box;
  float: left;;
}

.tabs ul li.active {
  box-sizing: border-box;
  border-bottom: 3px solid #19aa8d !important;
}

.tabs ul li span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: gray;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-decoration: none;
  padding-left: 12px;
  padding-right: 14px;
  line-height: 26px;
  cursor: default;
  /*width: 145px;*/
  height: 26px;
  display: block;
}

.tabs ul li a.close {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  position: absolute;
  color: gray;
  top: 0;
  right: 5px;
  cursor: pointer;
  line-height: 26px;
  display: inline-block;
}

.tabs ul li.active a {
  color: white;
}

.tabs ul li.active span {
  padding-left: 12px;
  line-height: 26px;
  color: white;
  height: 26px;
}

.tabs ul li input {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  width: 120px;
  border: none;
  background-color: inherit;
  color: white;
  padding: 5px 20px 4px 15px;
  height: 26px;
}

/*
 *  scrollbar
 */
.tabs::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #676a6c;
}

.tabs::-webkit-scrollbar {
  height: 2px;
}

.tabs::-webkit-scrollbar-thumb {
  background-color: #F5F5F5;
}

.scroll-botton {
  font-size: 20px;
  float: left;
  height: 30px;
  overflow: hidden;
  background-color: #3a3333;
  color: white
}



.basicContext {
  background: #000;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 0;
  box-shadow: 0 3px 6px 0px rgba(0,0,0,0.16);
  position: absolute;
  opacity: 1;
  padding: 6px 0;
  z-index: 1000;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.basicContext, .basicContext * {
  box-sizing: border-box;
}

.basicContextContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  -webkit-tap-highlight-color: transparent;
}

.basicContext tr {
  margin: 0;
}

.basicContext__item {
  cursor: pointer;
  padding: 0 6px;
}

.basicContext td {
  display: block;
  padding: 0 35px;
  text-decoration: none;
  width: auto;
  opacity: 1;
  white-space: nowrap;
  line-height: 24px;
  text-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  cursor: pointer;
}
.basicContext__item.basicContext__item--separator {
  background: #181414;
  border: 0;
  border-top: none;
  height: 1px;
  min-height: 1px;
  max-height: 1px;
  padding: 0;
  border-left: none;
  text-shadow: 0 0 0 transparent;
  box-shadow: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 2px 0;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

tr:hover {
  background-color: #463e3e;
}

.basicContext table {
  border-spacing: 0 !important;
}

.basicContext__data {
  padding: 0 6px;
}

