:root {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

label {
  margin-bottom: 0;
}

.filetree {
  padding-left: 20px;
}

.filetree input[type="checkbox"] {
  display: none;
}

.filetree input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

.filetree input[type=checkbox] + label:before {
  content: "\f114";
  letter-spacing: 10px;
  width: 30px;
}

.filetree input[type=checkbox]:checked + label:before {
  content: "\f115";
}

.filetree ul {
  height: 0;
  overflow: hidden;
}

.filetree > li input:checked ~ ul {
  height: auto;
}

.filetree li {
  list-style: none;
  cursor: pointer;
  color: #ffffff;
}

.filetree label {
  line-height: 33px;
  display: inline-block;
}

.search {
  border-left-width: 0;
  border-bottom: gold 2px inset;
}

.left-search {
  padding-left: 14px;
  width: 100%;
  border: none;
  height: 28px;
  background: #2f2a2a;
  color: #ffffff;
}
