/**
 * filetree.css
 * */

:root {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.filetree input[type="checkbox"] {
  display: none;
}

.filetree ul {
  height: 0;
  overflow: hidden;
}

.filetree > li input:checked ~ ul {
  height: auto;
}

.filetree li {
  list-style: none;
  cursor: pointer;
}

.filetree label {
  padding-left: 33px;
  line-height: 33px;
  display: inline-block;
}

/**
 * Icon
 * */
.filetree label {
  background-image: url('./icon.png');
  background-repeat: no-repeat;
}

.filetree input[type="checkbox"] + label {
  background-position: 0 0;
  width: 100%;
  height: 33px;
}

.filetree input[type="checkbox"]:checked + label {
  background-position: 0 -33px;
  width: 100%;
  height: 30px;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
  filetree label {
    background-image: url('./icon.png');
    -webkit-background-size: 33px 63px;
    -moz-background-size: 33px 63px;
    background-size: 33px 63px;
  }
}
