:root {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

label {
  margin-bottom: 0;
}

.filetree {
  padding-left: 20px;
}

.filetree input[type="checkbox"] {
  display: none;
}

.filetree input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

.filetree input[type=checkbox] + label:before {
  content: "\f114";
  letter-spacing: 10px;
  width: 30px;
}

.filetree input[type=checkbox]:checked + label:before {
  content: "\f115";
}

.filetree ul {
  height: 0;
  overflow: hidden;
}

.filetree > li input:checked ~ ul , .filetree > li ul.insearch{
  height: auto;
}

.filetree li {
  list-style: none;
  cursor: pointer;
  color: #ffffff;
}

.filetree label {
  line-height: 33px;
  display: inline-block;
}

.search {
  border-left-width: 0;
  border-bottom: #19aa8d 2px inset;
}

.left-search {
  padding-left: 14px;
  width: 100%;
  border: none;
  height: 28px;
  background: #2f2a2a;
  color: #ffffff;
}

.footer {
  background: #2f2a2a;
  font-size: 9pt;
  border-top-width: 1px;
  left: 0;
  padding: 1px 20px 0 20px;
  position: absolute;
}

.fa.fa-undefined:before {
  content: "\f26c";
}

.fa.fa-Linux:before {
  content: "\f17c";
}

.fa.fa-Windows:before {
  content: "\f17a";
}
