@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-heading: "Montserrat", sans-serif;
  --font-sans: "Open Sans", sans-serif;
  --color-secondary: var(--ui-color-secondary-500);
  --color-elevated: #1e1e20;
}

@theme .dark {
  --color-elevated: #141419;
}

:root {
  --ui-color-primary-500: #1ab394;
  --ui-color-elevated-500: #303237;
  --ui-color-secondary-500: #141419;
  --ui-color-neutral-100: #d1d1d1;
  --bg-hover-light: #d1d1d1;
  --bg-hover-dark: rgba(0, 0, 0, 0.5);
}

.text-xs-plus {
  @apply text-[14px];
}

.text-overflow-ellipsis {
  @apply text-ellipsis overflow-hidden whitespace-nowrap;
}

/* 全局按钮样式 */
.btn-common {
  @apply rounded-lg transition-colors duration-200;
}

.btn-common:hover {
}

.dark .btn-common:hover {
}

/* App Store 风格按钮 */
.btn-connect {
  @apply bg-gray-100 text-green-500 font-bold rounded-lg text-xs transition-all duration-200;
}

.light .btn-connect:hover {
  @apply bg-green-500 text-white;
}

.dark .btn-connect {
  @apply bg-gray-600 hover:bg-gray-700;
}

html,
body,
#__nuxt,
#app {
  height: 100%;
}
