<div id="wrapper">
  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav">
        <li class="nav-header">
          <div class="dropdown profile-element">
            <div href="http://www.jumpserver.org" target="_blank">
              <img alt="image" height="55" src="/static/imgs/logo-text.png" style="margin-left: 10px">
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="logo-element">
            <img alt="image" height="40" src="/static/imgs/logo.png">
          </div>
        </li>
        <li *ngFor="let bar of leftbar">
          <a href="#">
            <i class="{{bar.class}}"></i>
            <span class="nav-label">{{bar.name|trans}}</span>
            <span class="{{bar.label}}"></span>
          </a>
          <ul class="nav nav-second-level collapse">
            <li *ngFor="let child of bar.child"><a>{{child.name|trans}}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
