div, term-leftbar, term-body {
  height: 100%;
  width: 100%;
  padding: 0;
}

div {
  background-color: black;
  margin: 0;
  padding-top: 30px;
  position: initial;
}

app-cleftbar {
  padding: 0;
  background: #2f2a2a;
  color: #d6cbcb;
}

app-control {
  padding: 0;
}
