<div>
  <div class="terminal-connect" *ngIf="iframeTerminalURL">
    <mat-sidenav-container (backdropClick)="closeDrawer()">
      <mat-sidenav
        #sidenav
        position="end"
        mode="over"
        class="file-manage-drawer"
      >
        <div class="drawer-header">
          <mat-icon style="cursor: pointer" (click)="closeDrawer()">{{ _i18n.instant('Close') }}</mat-icon>

          <p>{{ _i18n.instant('File Manager') }}</p>
        </div>

        <mat-divider></mat-divider>

        <div class="drawer-manage">
          <div class="path">
            <mat-icon>home</mat-icon>
            <div class="delimiter">/</div>
          </div>
        </div>
      </mat-sidenav>

      <mat-sidenav-content>
        <mat-card>
          <mat-card-header style="height: 55px; align-items: center">
            <mat-card-title> {{ protocol.toUpperCase() }} {{ _i18n.instant('Session') }} </mat-card-title>

            <mat-divider [vertical]="true"> </mat-divider>

            <div class="info-section">
              <div class="top-part">
                <mat-icon [matTooltip]="_i18n.instant('asset')">dvr</mat-icon>
                <div class="desc">
                  <div style="font-weight: 700; margin-right: 5px">
                    {{ _i18n.instant('asset') }}:
                  </div>
                  {{ assetName }}
                </div>
              </div>

              <div class="bottom-part">
                <mat-icon [matTooltip]="_i18n.instant('ConnectionTime')">date_range</mat-icon>

                <div class="desc">
                  <div style="font-weight: 700; margin-right: 5px">
                    {{ _i18n.instant('ConnectionTime') }}:
                  </div>
                  {{ startTime.toLocaleString() }}
                </div>
              </div>
            </div>

            <div class="action-section">
              <div class="timer-container">
                <div class="timer">
                  <div [class.active]="isActive" class="status-dot"></div>
                  <span>{{ totalConnectTime }}</span>
                </div>
              </div>

              <mat-divider [vertical]="true"> </mat-divider>

              <div class="actions">
                <div class="file-manage action-icon">
                  <button mat-icon-button [disabled]="disabledOpenFileManage">
                    <mat-icon
                    [matTooltip]="_i18n.instant('File Manager')"
                    (click)="handleOpenFileManage()">folder</mat-icon
                  >
                  </button>
                </div>

                <div class="exit action-icon">
                  <button mat-icon-button>
                    <mat-icon [matTooltip]="_i18n.instant('Close')" (click)="handleCloseConnect()">close</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </mat-card-header>
        </mat-card>

        <mat-card
          style="
            margin: 20px;
            height: calc(100% - 130px);
            background-color: #f7f8f9;
          "
        >
          <mat-card-content style="height: 100%">
            <elements-iframe #iFrame [src]="iframeTerminalURL" [origin]="'pam'" (socketCloseEvent)="handleSocketCloseEvent($event)">
            </elements-iframe>
          </mat-card-content>
        </mat-card>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

  <div class="sftp-connect" *ngIf="iframeSFTPURL">
    <div class="timer-container">
      <div class="timer">
        <div [class.active]="isActive" class="status-dot"></div>
        <span>{{ totalConnectTime }}</span>
      </div>
    </div>

    <div class="action-icons" [class.show]="showActionIcons">
      <div class="close-icon" (click)="handleCloseConnect()">
        <mat-icon [matTooltip]="_i18n.instant('Close')">close</mat-icon>
      </div>
    </div>

    <pages-sftp></pages-sftp>
  </div>

  <div class="pam-gui" *ngIf="iframeRDPURL">
    <div class="timer-container">
      <div class="timer">
        <div [class.active]="isActive" class="status-dot"></div>
        <span>{{ totalConnectTime }}</span>
      </div>
    </div>

    <div class="action-icons" [class.show]="showActionIcons">
      <div class="close-icon" (click)="handleCloseConnect()">
        <mat-icon [matTooltip]="_i18n.instant('Close')">close</mat-icon>
      </div>
    </div>

    <elements-iframe
      *ngIf="iframeRDPURL"
      [src]="iframeRDPURL"
      [origin]="'pam'"
    ></elements-iframe>
  </div>

  <div class="pam-gui" *ngIf="iframeVNCURL">
    <div class="timer-container">
      <div class="timer">
        <div [class.active]="isActive" class="status-dot"></div>
        <span>{{ totalConnectTime }}</span>
      </div>
    </div>

    <div class="action-icons" [class.show]="showActionIcons">
      <div class="close-icon" (click)="handleCloseConnect()">
        <mat-icon [matTooltip]="_i18n.instant('Close')">close</mat-icon>
      </div>
    </div>

    <elements-iframe
      *ngIf="iframeVNCURL"
      [src]="iframeVNCURL"
      [origin]="'pam'"
    ></elements-iframe>
  </div>
</div>
