.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* overflow-y: scroll; */
}

.head {
  height: 31px;
  line-height: 31px;
  padding: 0 10px 0 15px;
  color: #ffffff;
  background-color: var(--el-tab-sub-bg-color);
  border-right: 1px solid var(--el-border-color-y);
  border-top: solid 1px var(--el-border-color-x);
}

.close {
  display: inline-block;
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  cursor: pointer;
  color: #808080;
}

.close:hover {
  color: #ffffff;
}
