<div class="container">
  <div *ngIf="(hasHead && view.subViews.length > 0) || canClose" class="head">
    <span>{{ getViewName() }}</span>
    <span *ngIf="canClose" style="float: right;">
      <span class="close" (click)="closeSubView(view)">&times;</span>
    </span>
  </div>
  <div [ngSwitch]="connector" style="flex: 1;">
    <elements-connector-magnus
      *ngSwitchCase="'magnus'"
      [view]="view"
    >
    </elements-connector-magnus>
    <elements-connector-koko
      *ngSwitchCase="'koko'"
      [view]="view"
    >
    </elements-connector-koko>
    <elements-connector-nec
      *ngSwitchCase="'nec'"
      [view]="view"
    >
    </elements-connector-nec>
    <elements-connector-default
      *ngSwitchDefault
      [connector]="connector"
      [view]="view"
    >
    </elements-connector-default>
  </div>
</div>
