<div class="container-fluid row" fxLayout="row" ngxSplit="row">
  <div [fxFlex]="DataStore.leftbarshow ? '1 1 20%': '1 1 0'" minBasis="100px" maxBasis="800px" fxFlexFill ngxSplitArea
       [style.display]="DataStore.leftbarshow ? 'block' : 'none'">
    <pages-control-cleftbar></pages-control-cleftbar>
  </div>
  <div fxFlex="0" ngxSplitHandle [style.display]="activeViewIsRdp() ? 'none' : 'block'" (mouseup)="dragSplitBtn($event)"></div>
  <div [fxFlex]="DataStore.leftbarshow ? '1 1 80%' : '1 1 100%'" ngxSplitArea class="content">
    <pages-control-control></pages-control-control>
  </div>
</div>

