<div fxLayout="column" ngxSplit="column" style="width: 100%;height: 100%;">
  <div fxFlex="0 0 30px" class="search">
    <pages-control-nav></pages-control-nav>
  </div>
  <div fxFlex="0 0 calc(100%-56px)" id="winContainer">
    <div class="window" *ngFor="let m of NavList.List;let i=index"
         [ngClass]="{'active':i==NavList.Active}" style="height: 100%">
      <elements-ssh-term [index]="i"
                     [host]="m.host"
                     [sysUser]="m.user"
                     *ngIf="m.type=='ssh'">
      </elements-ssh-term>
      <elements-guacamole [index]="i"
                          [host]="m.host"
                          [sysUser]="m.user"
                          [remoteAppId]="m.remoteApp"
                          *ngIf="m.type=='rdp'">
      </elements-guacamole>
      <app-sftp *ngIf="m.type=='sftp'" [host]="m.host">
      </app-sftp>
      <!--<elements-settings [index]="i"-->
                         <!--*ngIf="m.type=='settings'">-->
      <!--</elements-settings>-->
    </div>
  </div>
  <div fxflex="0 0 26px" class="batch-command">
    <input placeholder=" {{'Send text to all ssh terminals'| trans }} ..."
           maxlength="2048"
           title="{{'Send text to all ssh terminals'| trans }} ..."
           (keydown.enter)="sendBatchCommand()"
           type="text" tabindex="2" spellcheck="false" [(ngModel)]="batchCommand">
  </div>
</div>
