div, elements-term, elements-iframe {
  height: 100%;
  padding-bottom: 30px;
}

div {
  display: none;
}

.active {
  display: block;
}
.right-side {
  height: 100%;
  width: 100%;
  background-color: gray;
}
