<div class="content">
  <div>
    <h2 class="subject">
      {{ assetType }}{{ "WordSep" | translate }}{{ "connect info" | translate }}
    </h2>
    <table>
      <tr *ngFor="let item of infoItems">
        <td class="title">{{ item.label | async }}</td>
        <td
          (cbOnSuccess)="onCopySuccess($event)"
          (mouseenter)="onHoverClipRef($event)"
          [cbContent]="item.value"
          [nzTooltipTitle]="hoverClipTip"
          class="text-td"
          ngxClipboard
          nz-tooltip
          nzTooltipPlacement="right"
        >
          <span
            (click)="showPassword($event)"
            *ngIf="item.name === 'password'"
            class="show-password"
          >
            <span style="vertical-align: middle">
              {{ passwordShow }}
            </span>
            <i class="fa fa-eye"></i>
          </span>
          <span
            *ngIf="item.name !== 'password' && item.name !== 'set_reusable'"
          >
            {{ item.value }}
          </span>
          <span
            *ngIf="item.name == 'set_reusable' && canReuse"
            class="reusable-button"
          >
            <nz-switch (ngModelChange)="setReusable()" [(ngModel)]="reusable">
            </nz-switch>
            {{ "Re-use for a long time after opening" | translate }}
          </span>
          <span class="btn">
            <i class="fa fa-clone icon"></i>
          </span>
        </td>
      </tr>
    </table>
  </div>
  <div *ngFor="let cmd of commands">
    <h2 class="subject">
      {{ cmd.title }}
    </h2>
    <div class="command">
      <pre>$ {{ cmd.safeValue }}</pre>

      <span
        (click)="startClient(cmd)"
        *ngIf="cmd.callClient && showClient"
        [nzTooltipTitle]="'Run it by client' | translate"
        class="start btn"
        nz-tooltip
      >
        <i class="fa fa-caret-square-o-right icon"></i>
      </span>
      <span
        (cbOnSuccess)="onCopySuccess($event)"
        (mouseenter)="onHoverClipRef($event)"
        [cbContent]="cmd.value"
        [nzTooltipTitle]="hoverClipTip"
        class="btn"
        ngxClipboard
        nz-tooltip
      >
        <i class="fa fa-clone icon"></i>
      </span>
    </div>
    <div *ngIf="cmd.helpText" class="help-block">
      {{ cmd.helpText }}
    </div>
  </div>
</div>
