.zone-label {
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  margin-bottom: 8px;
}

.ant-select {
  width: 100%;
}

.manual-auth {
  margin-bottom: 20px;
}

.remember-auth {
  width: 30%;
  font-size: 12px;
  vertical-align: sub;
  float: right;
  text-align: right;
}

.remember-auth ::ng-deep .mat-checkbox-layout {
  //padding-bottom: 10px;
}

.mat-option {
  line-height: 25px;
  height: 35px;
}


.zone-label {
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  margin-bottom: 5px;
}

.account-info {
  border: solid #cbc9c9 1px;
  padding: 10px 10px 0 10px;
}

.input-field {
  width: 100%;
}

.ad-domain {
  font-size: 15px;
  padding-left: 10px;
}

.not-account {
  margin-bottom: 10px;
}
