<div *ngIf="accounts.length > 0; else empty" class="select-user form-field" style="width: 100%;">
  <nz-form-label class="zone-label" for="selectAccount">{{ "Select account" | translate }}</nz-form-label>
  <nz-form-item style="width: 100%; margin-top:-10px">
    <nz-select
      [(ngModel)]="accountSelected"
      [compareWith]="compareFn"
      [formControl]="accountCtl"
      id="selectAccount"
      nzShowSearch
    >
      <!--      <nz-option>-->
      <!--        <ngx-mat-select-search-->
      <!--          [formControl]="accountFilterCtl"-->
      <!--          noEntriesFoundLabel="{{ 'No matching found' | translate }}"-->
      <!--          placeholderLabel="{{ 'Search' | translate }}"-->
      <!--        >-->
      <!--          <mat-icon ngxMatSelectSearchClear>close</mat-icon>-->
      <!--        </ngx-mat-select-search>-->
      <!--      </nz-option>-->
      <nz-option-group
        *ngFor="let group of filteredUsersGroups | async"
        [nzLabel]="group.name"
      >
        <nz-option
          *ngFor="let account of group.accounts"
          [nzDisabled]="group.disabled"
          [nzValue]="account"
          nzLabel="{{ getAccountDisplay(account) }}">
        </nz-option>
      </nz-option-group>
    </nz-select>
  </nz-form-item>
  <nz-alert *ngIf="accountCtl.hasError('required')" nzType="error">
    {{ "Please choose a account"| translate }}
  </nz-alert>
</div>

<ng-template #empty>
  <div class="not-account">{{ 'No account available'| translate }}</div>
</ng-template>

<div *ngIf="showManualUsernameInput" class="form-field">
  <nz-form-label class="zone-label" style="margin-bottom: 0">{{ "Username" | translate }}</nz-form-label>
  <nz-form-item class="input-field" floatLabel='never'>
    <input
      #username
      (focus)="onFocus()"
      (ngModelChange)="onUsernameChanges()"
      [(ngModel)]="manualAuthInfo.username"
      [matAutocomplete]="auto"
      [placeholder]="usernamePlaceholder"
      [readonly]="accountSelected.username === '@USER'"
      autofocus
      name="username"
      nz-input
    >
    <mat-autocomplete #auto="matAutocomplete">
      <nz-option *ngFor="let i of filteredOptions" [nzValue]="i.username">
        {{ i.username }}
      </nz-option>
    </mat-autocomplete>
  </nz-form-item>
</div>

<div *ngIf="accountSelected && !accountSelected?.has_secret && accountSelected.username !== '@ANON'" class="form-field">
  <nz-form-label class="zone-label" style="margin-bottom: 0; display: block">{{ "Password" | translate }}
  </nz-form-label>
  <div>
    <nz-form-item class="input-field password" floatLabel='never' style="width: 70%">
      <input
        #password
        [(ngModel)]="manualAuthInfo.secret"
        [attr.cdkFocusInitial]="manualAuthInfo.username? true : null"
        [autocomplete]="hidePassword ? 'new-password' : 'off'"
        [type]="hidePassword ? 'password' : 'text'"
        autofocus
        name="password"
        nz-input
      >
      <button
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide secret'"
        [attr.aria-pressed]="hidePassword"
        mat-icon-button
        matSuffix
      >
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </nz-form-item>
    <label *ngIf="!rememberAuthDisabled" [(ngModel)]="manualAuthInfo.rememberAuth" class="remember-auth" nz-checkbox>
      {{ "Remember password" | translate }}
    </label>
  </div>
</div>



