@import '../../../../node_modules/normalize.css/normalize.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-hover {
  @apply cursor-pointer hover:text-[#1AB394] duration-300 transition-all ease-in-out;
}

.truncate {
  @apply block whitespace-nowrap overflow-hidden text-ellipsis;
}

.theme-dark {
  --el-color-primary: 26 179 48;
  --el-color-background: 24 24 28;
  --el-color-text: 255 255 255;
  --el-border-color: 30 30 30;
  --el-color-secondary-background: 45 45 48;
}

.theme-light {
  --el-color-primary: 26 179 48;
  --el-color-background: 255 255 255;
  --el-border-color: 239 239 244;
  --el-color-text: 0 0 0;
  --el-color-secondary-background: 243 243 245;
}

@layer utilities {
  .scrollbar-dark {
    @apply relative;
  }

  .scrollbar-dark::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-dark::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 5px;
  }

  .scrollbar-dark::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.ele_drag {
  /* 让元素可拖动，设置了drag的元素不可点击 */
  -webkit-app-region: drag;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
