@import '../../../sass/mixins/index.scss';

.nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--el-header-nav-bg-color);
  font-weight: 400;
  padding-bottom: 1px;

  .ant-menu-horizontal > .ant-menu-submenu {
    top: 0
  }

  .nav-main {
    display: flex;
    align-items: center;
    background-color: var(--el-header-nav-bg-color);
    color: var(--el-header-nav-text-color);
    margin-bottom: 0;
    padding: 0;
    border-bottom: none;
    font-size: 13px;

    .logo-item {
      height: 29px;
    }

    ::ng-deep {
      .ant-menu-submenu-title {
        color: var(--el-header-nav-text-color);
        font-weight: 300;
        padding: 0 16px;

        &:hover {
          color: white;
        }
      }
    }

    li, .dropdown {
      position: relative;
      display: flex;
      align-items: center;
      height: 30px;
      line-height: 30px;
      border-bottom: none;

      &.ant-menu-submenu-active {
        border-bottom: none;
        background-color: var(--el-header-tab-bg-color);
      }

      .dropdown-content {
        padding: 5px 0;
        @include GeneralDropdown(null, 0);

        li {

          .active {
            display: flex;
            width: 100%;
          }

          a {
            @include GeneralDropdownLia;
          }

          &.disconnected {
            background-color: var(--el-header-dropdown-disable-text-color);
          }
        }
      }

      .disabled {
        a {
          text-decoration: none;
          background-color: var(--el-header-nav-select-bg-color);
          color: var(--el-header-dropdown-disable-text-color) !important;

          &:hover {
            background-color: var(--el-header-nav-select-bg-color) !important;
            cursor: not-allowed !important;
          }
        }
      }

      &:hover {
        @include DropdownHover;
      }
    }
  }

  .nav-right {
    display: flex;
    align-items: center;
    color: var(--el-header-nav-text-color);
  }
}

.flag {
  display: none;
  color: var(--primary-color);
  padding-right: 5px;

}

.active .flag {
  display: inline;
}

.elements-organization {
  flex: 1;
  text-align: right;
}
