::ng-deep .setting-dialog {
  .ant-modal-footer {
    padding: 1px 30px 20px 30px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--el-nav-bg-color);
  font-weight: 400;
  padding-bottom: 1px;

  .ant-menu-horizontal > .ant-menu-submenu {
    top: 0;
  }

  .logo-item {
    height: 29px;
    width: 60px;

    a {
      padding: 0 14px;
    }
  }

  .nav-main {
    display: flex;
    align-items: center;
    background-color: var(--el-nav-bg-color);
    color: var(--el-text-color-light);
    font-size: 13px;

    ::ng-deep {
      .ant-menu-submenu-title {
        color: var(--el-text-color-light);
        font-weight: 300;
        padding: 0 16px;

        &:hover {
          color: white;
        }
      }

      .ant-menu-submenu-active,
      .ant-menu-submenu-open {
        background: rgba(0, 0, 0, 0.6);
      }

      .ant-menu-submenu-horizontal.ant-menu-submenu {
        padding: 0;
      }
    }

    li,
    .dropdown {
      height: 30px;
      line-height: 30px;
      padding: 0;
    }
  }

  .nav-right {
    display: flex;
    align-items: center;
    color: var(--el-text-color-light);

    .chat-trigger {
      display: flex;
      align-items: center;
      gap: 5px;
      width: 115px;
      height: 25px;
      margin-right: 10px;
      padding: 0 10px;
      border-radius: 50px;
      border: 1px solid var(--el-divider-border-color);
      background-color: var(--el-nav-bg-color);
      color: var(--el-text-color-light);
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        color: white;
        background-color: var(--el-dropdown-selected-bg-color);
      }
    }
  }
}

.flag {
  display: none;
  color: var(--primary-color);
  padding-right: 5px;
}

//}
//
.active .flag {
  display: inline;
}
//
//.elements-organization {
//  flex: 1;
//  text-align: right;
//}
