
.nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--el-header-nav-bg-color);
  font-weight: 400;
  padding-bottom: 1px;

  .ant-menu-horizontal > .ant-menu-submenu {
    top: 0
  }

  .logo-item {
    height: 29px;
    width: 60px;

    a {
      padding: 0 14px;
    }
  }

  .nav-main {
    display: flex;
    align-items: center;
    background-color: var(--el-header-nav-bg-color);
    color: var(--el-header-nav-text-color);
    font-size: 13px;

    ::ng-deep {
      .ant-menu-submenu-title {
        color: var(--el-header-nav-text-color);
        font-weight: 300;
        padding: 0 16px;

        &:hover {
          color: white;
        }
      }

      .ant-menu-submenu-active, .ant-menu-submenu-open {
        background: rgba(0, 0, 0, 0.6);
      }

      .ant-menu-submenu-horizontal.ant-menu-submenu {
        padding: 0;
      }

    }

    li, .dropdown, {
      height: 30px;
      line-height: 30px;
      padding: 0;
    }
  }

  .nav-right {
    display: flex;
    align-items: center;
    color: var(--el-header-nav-text-color);
  }
}

//
//.flag {
//  display: none;
//  color: var(--primary-color);
//  padding-right: 5px;
//
//}
//
//.active .flag {
//  display: inline;
//}
//
//.elements-organization {
//  flex: 1;
//  text-align: right;
//}
