.nav {
  display: block;
  height: 30px;
  padding-top: 0;
  background-color: #463e3e;
  list-style: none;
}

.nav ul {
  list-style-type: none;
  line-height: 24px;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  text-align: left;
}
.nav ul.nav-main {
  padding-inline-start: 15px;
}

.nav li {
  display: inline-block;
}

.nav .dropdown a {
  color: #f0f0f1;
  font-family: Roboto,sans-serif;
  font-size: 13px;
  font-weight: 300;
  text-decoration: none;
  padding: 6px 15px;
  height: 30px;
}

.nav a:hover {
  color: #fff;
  cursor: pointer
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover {
  background-color: #2d2828;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  color: #c6bcbc;
  padding: 4px 0;
  z-index: 999;
  float: none;
  list-style: none;
  line-height: normal;
  direction: ltr;
  width: auto;
  top: auto;
  left: 0;
  margin-left: 0;
  margin-top: 0;
  min-width: 150px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav .dropdown-content li {
  /*float: left;*/
  display: flex;
}

.nav .dropdown-content a {
  padding: 6px 14px 6px 25px;
  white-space: nowrap;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  position: relative;
  text-decoration: none;
  min-width: 150px;
  line-height: normal;
}

.nav .dropdown-content li a span {
  /*float: right;*/
}

.dropdown-content li:hover {
  background-color: #3a3333;
  color: black;
  width: 100%;
}

.dropdown-content li.disabled:hover {
  background-color: black;
}

.dropdown-content li.disabled a {
  color: #c5babc;
}

.dropdown-content li.disabled a:hover {
  cursor: default;
  color: #c5babc;
}

.nav ul li.disconnected {
  background-color: darkgray;
}


.flag {
  display: none;
  color: #19aa8d;
  padding-right: 10px;

}

.active .flag {
  display: inline;
}
