#player {
  width: 100%;
  height: 100%;
}

#display {
  position: relative;
  background: #1f1b1b;
  padding: 0 5px;
  height: calc(100vh - 35px);
}

#display .command-results {
  height: 100%;
  overflow-y: auto;
}

#display .item {
  height: 80px;
  border-bottom: #000 solid 1px;
  color: #f0f0f0;
  padding: 10px 5px;
}

#display .command {
  padding: 5px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

#display .timestamp {
  overflow: hidden;
  float: right;
  padding: 5px 10px;
}

.command-results::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0);
  background-color: #00000000;
}

.command-results::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.command-results::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}

#screen * {
}

#screen {
  width: 100%;
  height: 100%;
}

#player .notification-container {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#player.seeking .notification-container {
  z-index: 1;
}

#player .seek-notification {
  color: white;
  background: rgba(0, 0, 0, 0.75);

  display: none; /* Initially hidden */
  width: 100%;
  height: 100%;

}

#player.seeking .seek-notification {
  display: table;
}

#player .seek-notification p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#player .controls {
  width: 100%;
  height: 35px;

  /* IE10 */
  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-direction: row;

  /* Ancient Mozilla */
  display: -moz-box;
  -moz-box-align: center;
  -moz-box-orient: horizontal;

  /* Ancient WebKit */
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;

  /* Old WebKit */
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-flex-direction: row;

  /* W3C */
  display: flex;
  align-items: center;
  flex-direction: row;

  padding-right: 10px;

}

#player .controls > * {
  margin: 0.25em;
}

#player .controls #position-slider {
  -ms-flex: 1 1 auto;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

#player .controls #play-pause {
  margin-left: 0;
  //min-width: 5em;
}

#player .controls #position,
#player .controls #duration {
  font-family: monospace;
}

#player .controls #duration {
  margin-right: 0;
}

input[type="range"] {
  background: transparent;
  width: 100%;
  margin: 0;
}

input[type="range"]:focus {
  outline: none;
}

/*
 * WebKit
 */

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {

  border: none;
  border-radius: 0;
  background: #5AF;

  width: 100%;
  height: 0.5em;

  cursor: pointer;

}

input[type="range"]::-webkit-slider-thumb {

  border: none;
  border-radius: 0;
  background: white;
  //background: #5AF;

  width: 3px;
  height: 0.5em;

  -webkit-appearance: none;
  cursor: pointer;

}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #5AF;
}

/*
 * Firefox
 */

input[type="range"]::-moz-range-track {

  border: none;
  border-radius: 0;
  background: #5AF;

  width: 100%;
  height: 0.5em;

  cursor: pointer;

}

input[type="range"]::-moz-range-thumb {

  border: none;
  border-radius: 0;
  background: white;

  width: 3px;
  height: 0.5em;

  cursor: pointer;

}

/*
 * Internet Explorer
 */

input[type="range"]::-ms-track {

  width: 100%;
  height: 0.5em;
  margin: 0;

  border: none;
  border-radius: 0;
  background: transparent;
  color: transparent;

  cursor: pointer;

}

input[type="range"]::-ms-thumb {

  border: none;
  border-radius: 0;
  background: white;

  width: 3px;
  height: 0.5em;
  margin: 0;

  cursor: pointer;

}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper,
input[type="range"]:focus::-ms-fill-lower,
input[type="range"]:focus::-ms-fill-upper {
  border: none;
  border-radius: 0;
  background: #5AF;
}

.hideCursor {
  input[type="range"]::-webkit-slider-thumb {

    background: #5AF;
  }

  input[type="range"]::-ms-thumb {
    background: #5AF;
  }

  input[type="range"]::-ms-thumb {
    background: #5AF;
  }
}
