<elements-nav></elements-nav>
<as-split
  (dragEnd)="dragEndHandler($event)"
  (dragStart)="dragStartHandler($event)"
  (gutterClick)="splitGutterClick($event)"
  direction="horizontal"
  gutterSize="0"
  id="container"
>
  <as-split-area
    #leftArea
    *ngIf="store.showLeftBar"
    [size]="settingLayoutSize.leftWidth"
    class="left-side"
    id="left-side" order="0"
  >
    <div class="layout">
      <div [ngClass]="{'menu-active':showSubMenu}" class="menu-icon">
        <div
          (click)="menuClick()"
          *ngIf="this._settingSvc.hasXPack()"
          class="menu-organization"
        >
          <span style="font-size: 13px;">
            <i class="fa fa-sitemap"></i>
          </span>
        </div>
        <div
          (click)="item.click(item.name)"
          *ngFor="let item of menus"
          class="menu-item"
        >
          <span>
            <i [ngClass]="item.icon" class="fa"></i>
          </span>
        </div>
      </div>
      <elements-left-bar
        #leftBar
        (menuActive)="menuActive()"
      ></elements-left-bar>
    </div>
  </as-split-area>
  <as-split-area
    #rightArea
    [size]="settingLayoutSize.rightWidth"
    class="content"
    order="1"
  >
    <div>
      <elements-content (toggleMenu)="onToggleMobileLayout()"></elements-content>
      <div
        [hidden]="showIframeHider === false"
        class="hack-iframe-hider"
      >
      </div>
    </div>
  </as-split-area>
</as-split>
<elements-chat></elements-chat>
