#container {
  height: calc(100% - 30px);
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1f1b1b;
}

.content {
  height: 100%;
  padding: 0;
  background-color: #1f1b1b;
  /*background-color: red;*/
  margin: 0;
  width: 100%;
  position: initial;
  min-width: 50%;
}


/*.content {*/
  /*overflow: hidden !important;*/
/*}*/

.left-side {

}

.handle {
  outline: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 99;
  height: 5px;
  width: 0;
  display: block;
  padding: 0;
  margin: 0;
  position: relative;
  line-height: 0;
}

.handle-row {
  top: 50%;
  left: -8px;
  transform: translateX(-50%) rotate(270deg);
  cursor: col-resize;;
}

elements-nav {
  height: 30px;
}

/*.container-fluid {*/
  /*padding-top: 30px;*/
/*}*/

/* as-split .as-split-area {*/
/*  background-color: lightgrey;*/
/*}*/
 as-split .as-split-area > p {
  padding: 5px;
}
 as-split ::ng-deep .as-split-gutter {
  background-color: grey !important;
  position: relative;
  flex-basis: 0px !important;
}
 as-split ::ng-deep .as-split-gutter-icon {
  background-image: url('../../../static/imgs/sideBarHandler.svg') !important;
  background-color: unset !important;
  transition: opacity 0.3s;
  opacity: 0.5;
  position: absolute;
}
as-split ::ng-deep .as-split-gutter-icon:before{

}
 as-split ::ng-deep .as-split-gutter.as-dragged .as-split-gutter-icon, .ex-b as-split ::ng-deep .as-split-gutter-icon:hover {
  opacity: 0.2;
}
 as-split.as-horizontal ::ng-deep .as-split-gutter-icon {
  width: 8px !important;
  left: -1px;
  right: 2px;
}
 as-split.as-vertical ::ng-deep .as-split-gutter-icon {
  height: 17px !important;
  top: -8px;
  bottom: 8px;
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.as-split-area > div {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.hack-iframe-hider {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
