<elements-nav></elements-nav>
<div fxLayout="row" id="container" ngxSplit="row">
  <div fxFlex="20%" fxFlexFill ngxSplitArea
    [ngStyle]="{'display': store.showLeftBar ? '' : 'none', 'min-width': store.showLeftBar ? '100px': ''}"
    class="left-side"
  >
    <elements-left-bar></elements-left-bar>
  </div>
  <div ngxSplitHandle (mouseup)="dragSplitBtn($event)" class="handle handle-row" [ngStyle]="{'display': store.showLeftBar ? '' : 'none'}" >
    <i class="fa fa-window-minimize" style="color: white"></i>
  </div>
  <div [fxFlex]="store.showLeftBar ? '80%' : '100%'" fxFlexFill ngxSplitArea class="content">
    <elements-content></elements-content>
  </div>
</div>
