<app-face-monitor></app-face-monitor>
<elements-nav></elements-nav>
<nz-splitter
  id="container"
  (nzResize)="dragResize($event)"
  (nzResizeEnd)="dragEndHandler($event)"
  (nzResizeStart)="dragStartHandler($event)"
>
  <nz-splitter-panel
    #leftArea
    nzMin="60"
    nzMax="50%"
    [nzSize]="settingLayoutSize.leftWidth"
    [ngClass]="{ 'left-side': true }"
    id="left-side"
  >
    <div class="layout">
      <elements-left-bar
        #leftBar
        [collapsed]="collapsed"
        (menuCollapsedToggle)="handleLayoutSettingChange($event)"
      ></elements-left-bar>
    </div>
  </nz-splitter-panel>
  <nz-splitter-panel
    #rightArea
    class="content"
    id="right-side"
    [nzSize]="settingLayoutSize.rightWidth"
  >
    <div>
      <elements-content
        (toggleMenu)="onToggleMobileLayout()"
      ></elements-content>
      <div [hidden]="showIframeHider === false" class="hack-iframe-hider"></div>
    </div>
  </nz-splitter-panel>
</nz-splitter>
<elements-chat></elements-chat>
