#container {
  height: calc(100% - 30px);
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--el-main-bg-color);

  ::ng-deep {
    .ant-splitter-horizontal>.ant-splitter-bar .ant-splitter-bar-dragger {
      width: 2px;
    }

    .ant-splitter-bar-dragger:after {
      background-color: rgba(0, 0, 0, 0.1);
    }

    .ant-splitter-panel {
      overflow: hidden;
      padding: 0;

    & > div {
      height: 100%;
    }
  }
}

.content {
  height: 100%;
  padding: 0;
  background-color: var(--el-main-bg-color);
  margin: 0;
  width: 100%;
  position: initial;
  min-width: 50%;
}


.handle-row {
  top: 50%;
  left: -8px;
  transform: translateX(-50%) rotate(270deg);
  cursor: col-resize;;
}

elements-nav {
  height: 30px;
}


nz-splitter-panel .as-split-area > p {
  padding: 5px;
}

.layout {
  position: relative;
  background-color: var(--el-assets-extend-bg-color);
}


nz-splitter-panel {
  position: relative;
  height: 100%;
  overflow: hidden;
}

// nz-splitter-panel ::ng-deep .as-split-gutter {
//   background-color: grey !important;
//   position: relative;
//   flex-basis: 0 !important;
// }

// nz-splitter-panel ::ng-deep .as-split-gutter-icon {
//   background-color: unset !important;
//   transition: opacity 0.3s;
//   opacity: 0.5;
//   position: absolute;
// }

// nz-splitter-panel ::ng-deep .as-split-gutter.as-dragged .as-split-gutter-icon, .ex-b as-split ::ng-deep .as-split-gutter-icon:hover {
//   opacity: 0.5;
// }

// nz-splitter-panel.as-horizontal ::ng-deep .as-split-gutter-icon {
//   width: 5px !important;
//   left: -1px;
//   z-index: 1;
// }

// nz-splitter-panel.as-vertical ::ng-deep .as-split-gutter-icon {
//   height: 17px !important;
//   top: -8px;
//   bottom: 8px;
// }

// .btns {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-wrap: wrap;
// }


// .hack-iframe-hider {
//   background: rgba(0, 0, 0, 0.25);
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }



// @media screen and (max-width: 992px) {
//   #left-side {
//     flex: 0 0 0 0 !important;
//   }

//   #right-side {
//     flex: 0 0 0 100% !important;
//   }
// }

// @media screen and (max-width: 768px) {
//   #left-side {
//     min-width: 0 !important;
//     flex: 0 0 100% !important;
//   }

//   .as-split-area.content {
//     flex: 0 0 0px !important;
//   }

//   ::ng-deep nz-splitter-panel .as-split-gutter {

//     display: none !important;
//   }

//   ::ng-deep .mobile-menu-icon {
//     display: inline-block !important;
//   }

//   ::ng-deep .nav .dropdown a {
//     padding: 6px 10px !important;
//   }

//   ::ng-deep .user-file {
//     min-width: 71px !important;
//   }
// }
}