.field-label {
  display: block;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.54);
}

.mat-form-field {
  width: 100%;
}

.space {
  padding-top: 15px;
}

.setting {
  ::ng-deep {
    font-size: 12px;

    .ant-select {
      width: 100%;
    }

    .ant-checkbox-wrapper + .ant-checkbox-wrapper {
      margin-left: 0;
      line-height: 1.5;
    }

    .ant-form-item {
      margin-bottom: 5px;
    }

    .ant-form-item-label {
      line-height: 1.5;
    }

  }

  ::ng-deep .ant-descriptions-view {
    border-radius: 4px;
  }
}
