<div class="setting">
  <div *ngIf="type === 'general'">
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24">
        {{ 'Load tree async' | translate }}
      </nz-form-label>
      <nz-form-control>
        <nz-select
          [(ngModel)]="setting.basic.is_async_asset_tree"
          (ngModelChange)="onSettingChange('basic', 'is_async_asset_tree', $event)"
        >
          <nz-option
            *ngFor="let s of boolChoices"
            [nzLabel]="s.name | translate"
            [nzValue]="s.value"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24">
        {{ connectDefaultOpenMethodLabel }}
      </nz-form-label>
      <nz-form-control>
        <nz-select
          name="connect_default_open_method"
          [(ngModel)]="setting.basic.connect_default_open_method"
          (ngModelChange)="onSettingChange('basic', 'connect_default_open_method', $event)"
        >
          <nz-option
            *ngFor="let item of connectDefaultOpenMethodOptions"
            [nzLabel]="item.label"
            [nzValue]="item.value"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24">
        {{ themeLabel }}
      </nz-form-label>
      <nz-form-control>
        <nz-select
          name="themes"
          [(ngModel)]="setting.basic.themes"
          (ngModelChange)="onMainThemeChange($event)"
        >
          <nz-option
            *ngFor="let item of themeOptions"
            [nzLabel]="item.label"
            [nzValue]="item.value"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div *ngIf="type === 'gui'">
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24">{{ 'RDP resolution' | translate }}</nz-form-label>
      <nz-form-control>
        <nz-select
          name="rdp_resolution"
          [(ngModel)]="setting.graphics.rdp_resolution"
          (ngModelChange)="onSettingChange('graphics', 'rdp_resolution', $event)"
        >
          <nz-option
            *ngFor="let s of resolutionsOptions"
            [nzLabel]="s.label"
            [nzValue]="s.value"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24">
        {{ 'Keyboard layout' | translate }}
      </nz-form-label>
      <nz-form-control>
        <nz-select
          [(ngModel)]="setting.graphics.keyboard_layout"
          (ngModelChange)="onSettingChange('graphics', 'keyboard_layout', $event)"
        >
          <nz-option
            *ngFor="let item of keyboardLayoutOptions"
            [nzLabel]="item.label"
            [nzValue]="item.value"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <div *ngIf="hasLicense()">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">
          {{ 'RDP client options' | translate }}
        </nz-form-label>
        <nz-form-control>
          <label
            [(ngModel)]="rdpClientConfig.full_screen"
            (ngModelChange)="onRdpClientConfigChange()"
            nz-checkbox
          >
            {{ 'Full screen' | translate }}
          </label>
          <label
            [(ngModel)]="rdpClientConfig.multi_screen"
            (ngModelChange)="onRdpClientConfigChange()"
            nz-checkbox
          >
            {{ 'Multi Screen' | translate }}
          </label>
          <label
            [(ngModel)]="rdpClientConfig.drives_redirect"
            (ngModelChange)="onRdpClientConfigChange()"
            nz-checkbox
          >
            {{ 'Driver redirect' | translate }}
          </label>
          <label
            [(ngModel)]="rdpClientConfig.remote_microphone"
            (ngModelChange)="onRdpClientConfigChange()"
            nz-checkbox
          >
            {{ 'Remote microphone' | translate }}
          </label>
        </nz-form-control>
      </nz-form-item>
    </div>

    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24">
        {{ 'RDP color quality' | translate }}
      </nz-form-label>
      <nz-form-control>
        <nz-select
          name="rdp_color_quality"
          [(ngModel)]="setting.graphics.rdp_color_quality"
          (ngModelChange)="onSettingChange('graphics', 'rdp_color_quality', $event)"
        >
          <nz-option
            *ngFor="let s of colorQualityOptions"
            [nzLabel]="s.label"
            [nzValue]="s.value"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24">
        {{ 'RDP smart size' | translate }}
      </nz-form-label>
      <nz-form-control>
        <nz-select
          name="rdp_smart_size"
          [(ngModel)]="setting.graphics.rdp_smart_size"
          (ngModelChange)="onSettingChange('graphics', 'rdp_smart_size', $event)"
        >
          <nz-option
            *ngFor="let s of rdpSmartSizeOptions"
            [nzLabel]="s.label"
            [nzValue]="s.value"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <div *ngIf="hasLicense()">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">
          {{ 'Applet connect method' | translate }}
        </nz-form-label>
        <nz-form-control>
          <nz-radio-group
            name="applet_connection_method"
            [(ngModel)]="setting.graphics.applet_connection_method"
            (ngModelChange)="onSettingChange('graphics', 'applet_connection_method', $event)"
          >
            <label nz-radio nzValue="web">Web</label>
            <label nz-radio nzValue="client">{{ 'Client' | translate }}</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </div>

    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24">
        {{ fileNameConflictResolutionLabel }}
      </nz-form-label>
      <nz-form-control>
        <nz-select
          name="file_name_conflict_resolution"
          [(ngModel)]="setting.graphics.file_name_conflict_resolution"
          (ngModelChange)="onSettingChange('graphics', 'file_name_conflict_resolution', $event)"
        >
          <nz-option
            *ngFor="let item of fileNameConflictResolutionOptions"
            [nzLabel]="item.label"
            [nzValue]="item.value"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div *ngIf="type === 'cli'">
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24">
        {{ 'CLI font size' | translate }}
      </nz-form-label>
      <nz-form-control>
        <nz-input-number
          [(ngModel)]="setting.command_line.character_terminal_font_size"
          (ngModelChange)="onCharacterTerminalFontSizeChange($event)"
          [nzMax]="60"
          [nzMin]="5"
          [nzPlaceHolder]="'CLI font size' | translate"
          style="width: 100%"
        ></nz-input-number>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24">
        {{ 'Backspace as Ctrl+H' | translate }}
      </nz-form-label>
      <nz-form-control>
        <nz-select
          name="is_backspace_as_ctrl_h"
          [(ngModel)]="setting.command_line.is_backspace_as_ctrl_h"
          (ngModelChange)="onSettingChange('command_line', 'is_backspace_as_ctrl_h', $event)"
          nzPlaceHolder="{{ 'Backspace as Ctrl+H' | translate }}"
        >
          <nz-option
            *ngFor="let s of boolChoices"
            [nzLabel]="s.name | translate"
            [nzValue]="s.value"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24">
        {{ 'Right mouse quick paste' | translate }}
      </nz-form-label>
      <nz-form-control>
        <nz-select
          name="is_right_click_quickly_paste"
          [(ngModel)]="setting.command_line.is_right_click_quickly_paste"
          (ngModelChange)="onSettingChange('command_line', 'is_right_click_quickly_paste', $event)"
          nzPlaceHolder="{{ 'Right mouse quick paste' | translate }}"
        >
          <nz-option
            *ngFor="let s of boolChoices"
            [nzLabel]="s.name | translate"
            [nzValue]="s.value"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24">
        {{ 'Theme' | translate }}
      </nz-form-label>
      <nz-form-control>
        <nz-select
          #nzSel
          [(ngModel)]="currentTheme"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="onThemeChange($event)"
          (keydown)="onThemePreview($event)"
          [nzShowSearch]="true"
        >
          @for (theme of terminalThemeMap; track theme.value) {
            <nz-option [nzValue]="theme.value" [nzLabel]="theme.label"></nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
