@mixin GeneralDropdown($right: null, $left: null) {
  background-color: var(--el-menu-bg-color);
}

// dropdown 下 li 标签的通用样式
@mixin GeneralDropdownLi {
  min-width: 150px;
  width: auto;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// dropdown 下 a 标签的通用样式
@mixin GeneralDropdownA {
  font-size: 13px;
  font-weight: 300;
  padding: 0 15px;
}

// dropdown 下 li 的 a 标签通用样式
@mixin GeneralDropdownLia {
  width: 100%;
  color: var(--el-main-text-color);

  &:hover {
    cursor: pointer;
    background-color: var(--el-menu-hover-bg-color);
  }
}

@mixin DropdownHover {
  background-color: var(--el-menu-hover-bg-color);

  .dropdown-content {
    display: flex;
    flex-direction: column;
  }
}
