.organization {
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 25px;
  padding: 2px 6px;
  margin-right: -12px;
  background: #2f2a2a;
  border-bottom: #19aa8d 1px inset;
  &::ng-deep .mat-select-value {
    color: #f0f0f1;
  }
  &::ng-deep .mat-select-arrow {
    opacity:0;
  }
  &::ng-deep .ng-star-inserted {
    font-size: 13px;
  }
}
.org-option {
  line-height: 2.2em!important;
  height: 2.2em!important;
}
