div, term-leftbar, term-body {
  height: 100%;
  width: 100%;
  padding: 0;
}

div {
  top: 55px;
  background-color: black;
  margin: 0;
}

app-cleftbar {
  background-color: white;
  padding: 0;
}

app-console {
  padding: 0;
}
