<form nz-form>
  <nz-form-item>
    <nz-form-control>
      <nz-form-label>
        {{ 'Name'| translate }}
      </nz-form-label>
      <nz-input-group>
        <input nz-input [(ngModel)]="name" required name="fontSize" max="60">
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-form-label>
        {{ 'Module'| translate }}
      </nz-form-label>
      <nz-select [(ngModel)]="module" name="module" style="width: 100%;">
        <nz-option *ngFor="let type of commandModules" [nzValue]="type.value" [nzLabel]="type.label"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>

<div style="text-align: right; padding-top: 20px">
  <button nz-button nzType="primary" (click)="onSubmit()">{{ 'Confirm'| translate }}</button>
</div>
