/* You can add global styles to this file, and also import other style files */
/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  height: 100%;
  width: 100%;
  background-color: rgb(243, 243, 244);
  overflow-y: hidden;
}

app-root {
  height: 100%;
}

#marker {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  font-size: 13px !important;
  padding-bottom: 16px !important;
  font-family: 'Monaco', 'Consolas', 'monospace' !important;
  color: white;
}

.terminal {
  font-family: 'Monaco', 'Consolas', 'monospace' !important;
  font-size: 13px;
  white-space: nowrap;
  /*display: inline-block;*/
  /*background-color: #1f1b1b;*/
}

.terminal div {
  user-select: text;
}

.terminal .xterm-rows {
  background-color: #1f1b1b;
  /*margin: 15px;*/
}

/*.xterm-rows {*/
  /*padding: 15px;*/
/*}*/

.terminal .xterm-viewport {
  background-color: #1f1b1b;
  overflow: auto;
}

body ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #676a6c;
}

body ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body ::-webkit-scrollbar-thumb {
  background-color: #F5F5F5;
}

.ztree * {
  font-family: 'Monaco', 'Consolas', 'monospace' !important;
  font-size: 13px !important;
}

/*.scroll-botton {*/
  /*font-size: 20px;*/
  /*float: left;*/
  /*height: 30px;*/
  /*overflow: hidden;*/
  /*background-color: #3a3333;*/
  /*color: white*/
/*}*/
