/* You can add global styles to this file, and also import other style files */
/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  height: 100%;
  width: 100%;
  background-color: rgb(243, 243, 244);
  overflow-y: hidden;
  margin: 0;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*, ::after, ::before {
  box-sizing: border-box;
}

app-root {
  height: 100%;
}

#marker {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  font-size: 14px !important;
  font-family: 'open sans', 'Monaco', 'Consolas', 'monospace' !important;
  color: white;
}

/*.terminal {*/
/*font-family: 'Monaco', 'Consolas', 'monospace' !important;*/
/*font-size: 13px;*/
/*white-space: nowrap;*/
/*!*display: inline-block;*!*/
/*!*background-color: #1f1b1b;*!*/
/*}*/

/*.terminal div {*/
/*user-select: text;*/
/*}*/

/*.terminal .xterm-rows {*/
/*background-color: #1f1b1b;*/
/*!*margin: 15px;*!*/
/*}*/

/*.xterm-rows {*/
/*padding: 15px;*/
/*}*/

/*.xterm .composition-view {*/
/*!* TODO: Composition position got messed up somewhere *!*/
/*background: #1f1b1b !important;*/
/*color: #FFF;*/
/*display: none;*/
/*position: absolute;*/
/*white-space: nowrap;*/
/*z-index: 1;*/
/*}*/

/*.xterm .xterm-viewport {*/
/*!* On OS X this is required in order for the scroll bar to appear fully opaque *!*/
/*background: #1f1b1b !important;*/
/*overflow-y: scroll;*/
/*cursor: default;*/
/*position: absolute;*/
/*right: 0;*/
/*left: 0;*/
/*top: 0;*/
/*bottom: 0;*/
/*}*/

.terminal .xterm-viewport {
  background-color: #1f1b1b;
  overflow: auto;
}

body ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #272323;
  border-radius: 6px;
}

body ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body ::-webkit-scrollbar-corner {
  background: transparent;
}

body ::-webkit-scrollbar-thumb {
  background-color: #494141;
  border-radius: 6px;
}

.ztree *:not(.fa) {
  font-family: 'Open Sans', 'Monaco', 'Consolas', 'monospace' !important;
  font-size: 13px !important;
}

.ztree li span.button.chk {
  width: 16px !important;
  padding-top: 0;
  padding-left: 0;
}

/*.scroll-botton {*/
/*font-size: 20px;*/
/*float: left;*/
/*height: 30px;*/
/*overflow: hidden;*/
/*background-color: #3a3333;*/
/*color: white*/
/*}*/

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: #F9F9F9;
  border: none !important;
  line-height: 15px;
  font-weight: bold;
  color: #676a6c;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  color: white;
  font-weight: bolder;

}

#ztree .fa {
  text-align: center;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome !important;
}


#toast-container > .toast-warning:before {
}

#toast-container > .toast-error:before {
}

#toast-container > .toast-info:before {
}

#toast-container > .toast-success:before {
  content: "";
}

.fa {
  font-family: FontAwesome !important;
}

.mat-form-field-infix {
  font-size: 14px;
}


#player .asciinema-player .asciinema-terminal {
  height: calc(100vh - 60px) !important;
}

.my-tooltip {
  position: relative;
}

.my-tooltip:before {
  content: attr(data-tooltip);
  position: absolute;
  min-width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
  line-height: 1.2;
  border-radius: 6px;
  z-index: 1;
  opacity: 0;
  transition: opacity .4s;
  bottom: 130%;
  left: 50%;
  margin-left: -50px;
  font-size: 0.75em;
  visibility: hidden;
}

.my-tooltip:after {
  content: "";
  position: absolute;
  bottom: 75%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  opacity: 0;
  transition: opacity .4s;
  border-color: black transparent transparent transparent;
  visibility: hidden;
}

.my-tooltip:hover:before,
.my-tooltip:hover:after {
  opacity: 1;
  visibility: visible;
}
