.custom-layout {
  :deep(.n-layout-scroll-container) {
    .n-layout-header {
      width: 40px;
      .header-content {
        width: 40px;
        height: 100vh;
        color: #ffffff;
        background-color: var(--el-aside-bg-color);
        border-right: var(--el-aside-border-color);
      }
    }
  }
}
