.custom-layout {
  :deep(.n-layout-scroll-container) {
    .n-layout-header {
      width: 40px;
      .header-content {
        width: 40px;
        height: 100vh;
        color: #ffffff;
        background-color: var(--el-aside-bg-color);
        border-right: var(--el-aside-border-color);
      }
    }
    .n-layout-sider {
      background-color: var(--el-aside-tree-bg-color);

      // 设置折叠状态下 padding 为零，否则侧边 item 图标无法点击
      &.n-layout-sider--collapsed .n-layout-sider-scroll-container {
        padding: 0 !important;
      }
    }
  }
}
