.connect-method-zone ::ng-deep .zone-label,
.zone-label {
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  margin-bottom: 8px;
}

.mat-form-field-infix {
  border-top-width: 0 !important;
}

.auto-connect {
  padding-top: 15px;
}

.question {
  font-size: 14px;
}

.dialog-body {
  padding: 0;
  margin: 0 10px 10px;
}

.protocol-tab ::ng-deep .mat-tab-links {
  .mat-tab-link, .mat-tab-label-active {
    height: 35px !important;
    width: 100px;
    //padding: 0 20px !important;
    min-width: 20px !important;
  }

  .mat-tab-link:focus {
    background-color: white;
  }
}

.dialog-body ::ng-deep .mat-form-field-infix {
  border-top: 1px;
}

.mat-dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-dialog-title h3 {
  margin: 0;
}

.mat-dialog-content {
  overflow: hidden;
}

.mat-button-toggle-group {
  height: 32px;
  align-items: center;
}

.mat-button-toggle:hover {
  background-color: transparent;
}

.mat-button-toggle-checked {
}

button.mat-raised-button {
  margin-left: 0;
}

