<div>
  <h2 mat-dialog-title>{{"Connect" | translate}} - {{ node.name | truncatechars:30 }}</h2>

  <div (keyup.enter)="onConfirm()" style="padding-top: 10px">
    <elements-select-account
      [node]="node"
      [accounts]="accounts"
      [onSubmit]="onSubmit$"
      [manualAuthInfo]="manualAuthInfo"
      (onSelectAccount)="onSelectAccount($event)"
    >
    </elements-select-account>

    <div class="connect-type">
      <label class="zone-label" for="connect-type">{{ "Connect Method" | translate }}</label>

      <div class="protocol-group">
        <mat-radio-group
          aria-label="Select an option"
          name="protocol"
          [(ngModel)]="protocol"
          id="protocol"
        >
          <mat-radio-button *ngFor="let protocol of protocols" [value]="protocol.name">
            {{ protocol.name | uppercase }}
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="connect-type-group">
        <mat-radio-group
          aria-label="Select an option"
          name="connect-type"
          [(ngModel)]="connectMethod"
          id="connect-type"
        >
          <mat-radio-button *ngFor="let type of connectMethods" [value]="type">
            {{ type.name | translate }}
            <span class="my-tooltip" attr.data-tooltip="{{'Need to use'| translate}}&nbsp;{{ type.name | translate }}">
            <i *ngIf="type.client" class="fa fa-question-circle-o question"></i>
          </span>
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <elements-advanced-option
      #advancedOption
      [connectType]="connectMethod"
      [accountSelected]="accountSelected"
      (onOptionsChange)="onAdvancedOptionChanged($event)"
    >
    </elements-advanced-option>

    <div class="auto-connect">
      <label class="zone-label" style="display: block">{{ "Remember select" | translate }}</label>
      <mat-checkbox name="auto-login" [(ngModel)]="autoLogin">
        {{ "Automatic login next" | translate }}
      </mat-checkbox>
    </div>

    <mat-dialog-actions  style="float: right; margin: 20px 0 10px 0;">
      <button mat-raised-button (click)="onCancel()">{{"Cancel"| translate}}</button>
      <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="outputData" (click)="onConfirm()">{{"Confirm"| translate}}</button>
    </mat-dialog-actions>
  </div>

</div>
