<div>
  <div mat-dialog-title>
    <h3>{{"Connect" | translate}} - {{ asset.name | truncatechars:30 }}</h3>
    <button mat-icon-button aria-label="close dialog" mat-dialog-close="">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <nav mat-tab-nav-bar style="margin-bottom: 20px" class="protocol-tab">
    <a mat-tab-link
       *ngFor="let p of protocols"
       (click)="onProtocolChange(p)"
       [active]="protocol.name === p.name"
    >
      {{ p.name | uppercase }}
    </a>
  </nav>

  <div mat-dialog-content (keyup.enter)="onConfirm()" class="dialog-body">
    <elements-select-account
      [asset]="asset"
      [accounts]="accounts"
      [onSubmit]="onSubmit$"
      [manualAuthInfo]="manualAuthInfo"
      (accountSelectedChange)="onSelectAccount($event)"
    >
    </elements-select-account>

    <elements-connect-method
      class="connect-method-zone"
      [protocol]="protocol"
      [(connectMethod)]="connectMethod"
      (onDownloadRDPFile)="onConfirm(true)"
    >
    </elements-connect-method>

    <elements-advanced-option
      [connectMethod]="connectMethod"
      [accountSelected]="accountSelected"
      (onOptionsChange)="onAdvancedOptionChanged($event)"
    >
    </elements-advanced-option>

    <div class="auto-connect">
      <label class="zone-label" style="display: block">{{ "Remember select" | translate }}</label>
      <mat-checkbox name="auto-login" [(ngModel)]="autoLogin">
        {{ "Automatic login next" | translate }}
      </mat-checkbox>
    </div>

    <mat-dialog-actions style="float: right; margin: 20px 0 10px 0; width: 100%">
      <button mat-raised-button
              color="primary"
              style="width: 100%"
              type="submit"
              [disabled]="accounts.length===0 || connectMethod.disabled"
              [mat-dialog-close]="outputData"
              (click)="onConfirm()"
      >
        {{"Login"| translate}}
      </button>
    </mat-dialog-actions>
  </div>
</div>
