.mat-radio-button {
  margin-right: 16px;
  vertical-align: middle;
}

.zone-label {
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  margin-bottom: 8px;
}

.mat-form-field-infix {
  border-top-width: 0!important;
}

.connect-type-group {
  border: solid #cbc9c9 1px;
  padding: 8px;
}

.auto-connect {
  padding-top: 15px;
}

.question {
  font-size: 14px;
}

.dialog-body {
  padding: 0;
  margin: 0 10px 10px;
}

.protocol-tab ::ng-deep .mat-tab-link, .protocol-tab  ::ng-deep .mat-tab-label-active {
  height: 35px !important;
  width: 100px;
  //padding: 0 20px !important;
  min-width: 20px !important;
}

.dialog-body ::ng-deep .mat-form-field-infix {
  border-top: 1px;
}

.mat-dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-dialog-title h3 {
  margin: 0;
}

.mat-dialog-content {
  overflow: hidden;
}

.connect-grouped-methods {
  margin-left: 10px;
}

.connect-method-item {
  min-width: 80px;
}

.connect-grouped-title {
  width: 70px;
}
