$text_color: #F1F1F1;

.container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  background-color: #272727;
  color: $text_color;

  .video-section {
    display: flex;
    flex-direction: column;
    width: calc(100% - 300px);
    min-width: 770px;
    height: 100%;
    padding: 20px;

    .playing-info {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      margin-top: 20px;
      border-radius: 5px;
    }

    .video-part {
      width: 100%;
      height: 100%;
      margin-top: 50px;

      .player-main {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        overflow: hidden;

        #screen {
          width: 100%;
          height: calc(100% - 50px);
        }

        .model {
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: calc(100% - 50px);
          background-color: rgba(0, 0, 0);
          z-index: 9999999;

          .custom-spin {
            width: 30px !important;
            height: 30px !important;
            z-index: 99999;

            ::ng-deep svg {
              width: 30px !important;
              height: 30px !important;
            }
          }

          .loading-text {
            color: #fff;
            margin-top: 10px;
          }
        }
      }

    }

    .control-part {
      display: flex;
      align-items: center;
      height: 50px;
      width: 100%;

      .controls {
        display: flex;
        align-items: center;
        z-index: 999999;

        .button-group {
          &:hover {
            cursor: pointer;
          }

          &.disabled-button {
            color: #fff;
          }
        }
      }

      .progress {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 5px;
        z-index: 999999;
      }

      .time {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 5px;

        .split {
          padding: 0 5px;
        }
      }
    }
  }

  .list-section {
    width: 370px;
    min-width: 370px;
    max-width: 370px;
    margin: 0 0 0 20px;
    padding: 20px 20px 0 20px;
    border-radius: 5px;

    ::ng-deep.mat-tab-label.mat-tab-disabled {
      cursor: not-allowed;
    }

    ::ng-deep .mat-tab-label-content {
      color: #fff;
      font-size: 13px;
    }

    ::ng-deep .mat-list-item {
      transition: all .3s;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #363737;
      }

      &.selected {
        background-color: #212121 !important;
        color: #fff !important;
      }

      .mat-list-item-content {
        color: $text_color;

        .mat-list-text {
          height: 100%;

          .mat-line {
            font-size: 13px;
          }
        }
      }
    }
    .slice-part {
      color: $text_color;
    }
  }
}

input[type="range"] {
  background: transparent;
  width: 100%;
  margin: 0;
}

input[type="range"]:focus {
  outline: none;
}

/*
 * WebKit
 */

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {

  border: none;
  border-radius: 0;
  background: #5AF;

  width: 100%;
  height: 0.5em;

  cursor: pointer;

}

input[type="range"]::-webkit-slider-thumb {

  border: none;
  border-radius: 0;
  background: white;
  //background: #5AF;

  width: 3px;
  height: 0.5em;

  -webkit-appearance: none;
  cursor: pointer;

}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #5AF;
}

// Firefox
input[type="range"]::-moz-range-track {

  border: none;
  border-radius: 0;
  background: #5AF;

  width: 100%;
  height: 0.5em;

  cursor: pointer;

}

input[type="range"]::-moz-range-thumb {

  border: none;
  border-radius: 0;
  background: white;

  width: 3px;
  height: 0.5em;

  cursor: pointer;

}

// Internet Explorer
input[type="range"]::-ms-track {

  width: 100%;
  height: 0.5em;
  margin: 0;

  border: none;
  border-radius: 0;
  background: transparent;
  color: transparent;

  cursor: pointer;

}

input[type="range"]::-ms-thumb {

  border: none;
  border-radius: 0;
  background: white;

  width: 3px;
  height: 0.5em;
  margin: 0;

  cursor: pointer;

}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper,
input[type="range"]:focus::-ms-fill-lower,
input[type="range"]:focus::-ms-fill-upper {
  border: none;
  border-radius: 0;
  background: #5AF;
}
