<div class='container'>
  <div class='video-section'>
    <div class='playing-info'>
      <div class="control-part">
        <span id="user" *ngIf="replay?.user">
            {{ "user" | translate }} : {{ replay?.user }}
        </span>
        <span id="asset" style="padding-left: 20px" *ngIf="replay?.asset">
          {{ "asset" | translate }} : {{ replay?.asset }}
        </span>
          <span
            id="system_user"
            style="padding-left: 20px"
            *ngIf="replay?.system_user"
          >
            {{ "system user" | translate }} : {{ replay?.system_user }}
          </span>
        <span
          id="date_start"
          style="padding-left: 20px"
          *ngIf="replay?.date_start"
        >
          {{ "start time" | translate }} : {{ startTime }}
        </span>
        <span
          id="download"
          style="padding-left: 30px"
          *ngIf="replay?.download_url"
        >
          <a type="button" style='color: #1E90FF' [href]="replay?.download_url">
            {{ "download" | translate }}
          </a>
        </span>
      </div>
    </div>
    <div class='video-part'>
      <mat-spinner *ngIf='isLoading' class='custom-spin'></mat-spinner>
      <div class='player-main'>
        <div id='screen' (click)='handleToggle($event)'>
          <div class='control-part' *ngIf='isShowControl'>
            <div class='progress'>
              <input
                class='progress-bar'
                type='range'
                [max]='rangeMax'
                [(ngModel)]="currentRange"
                (mousedown)='handleMouseDown($event)'
              />
            </div>
            <div class='below'>
              <div class='controls'  *ngFor='let control of controls'>
                <button
                  mat-icon-button
                  class='button-group'
                  matTooltipPosition="above"
                  *ngIf='control.isShow'
                  [matTooltip]="control.iconTips"
                  (click)='control.click($event)'
                >
                  <mat-icon>{{ control.iconName }}</mat-icon>
                </button>
              </div>
              <div class='time'>
                <span>{{ currentPosition }}</span>
                <span class='split'> / </span>
                <span>{{ totalDuration }}</span>
              </div>
              <div class='settings'>
                <button mat-button [matMenuTriggerFor]="menu">倍速</button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>2.0x</button>
                  <button mat-menu-item>1.5x</button>
                  <button mat-menu-item>1.25x</button>
                  <button mat-menu-item>1.0x</button>
                  <button mat-menu-item>0.75x</button>
                  <button mat-menu-item>0.5x</button>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='list-section'>
    <mat-tab-group>
      <mat-tab label="播放列表">
        <div class='slice-part'>
          <mat-list>
            <mat-list-item *ngFor="let folder of folders" (click)="selectPart(folder)">
              <mat-icon mat-list-icon>play_arrow</mat-icon>
              <h4 mat-line style='display: flex; align-items: center; font-size: 16px; flex: 1'>{{ folder.name }}</h4>
              <div mat-line style='display: flex; flex: 1; justify-content: space-between; align-items: center'>
                <p>
                  {{ folder.updated }}
                </p>
                <p>
                  {{ folder.size }}
                </p>
              </div>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-tab>
      <mat-tab label="命令列表" [disabled]="commands.length === 0" >
        <div class='command-part'>
          <mat-list>
            <mat-list-item *ngFor="let command of commands">
              <div>
                {{ command.input }}
              </div>
              <div>
                {{ command.atime }}
              </div>
            </mat-list-item>
          </mat-list>
<!--          <mat-icon *ngIf='commands.length === 0'>home</mat-icon>-->
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
