<div class="basic-form">
  <br/>
  <mat-form-field hintLabel="http://jumpserver.abc.com:8080">
    <input matInput #input maxlength="10" placeholder="{{'Current SITE URL'|trans}}">
  </mat-form-field>
  <br/>
  <mat-form-field hintLabel="{{'User first login update profile done redirect to it'|trans}}">
    <input matInput #input maxlength="10" placeholder="{{'User Guide URL'|trans}}">
  </mat-form-field>
  <br/>
  <mat-form-field hintLabel="">
    <input matInput #input maxlength="10" placeholder="{{'Email Subject Prefix'|trans}}">
  </mat-form-field>
  <br/>
  <div class="button-row">
    <button mat-raised-button>{{ 'Reset' | trans }}</button>
    <button mat-raised-button color="primary">{{ 'Submit' | trans }}</button>
  </div>
  <br/>
</div>
