@import '../../../sass/mixins/index.scss';

.user-file {
  display: flex;
  padding-right: 10px;
  font-size: 13px;
  font-weight: 300;

  .dropdown {
    .head-portrait {
      display: flex;
      align-items: center;
      height: 30px;
      padding: 0 10px;

      .fa.fa-user-circle-o.icon {
        margin-right: 10px;
      }

      .fa.fa-sort-desc {
        width: 13px;
        height: 13px;
        line-height: 8px;
        margin-left: 10px;
      }
    }

    a {
      @include GeneralDropdownA;
    }

    .dropdown-content {
      @include GeneralDropdown(0, null);

      li {
        @include GeneralDropdownLi;
        text-align: center;

        a {
          display: inline-block;
          @include GeneralDropdownLia;
        }
      }
    }

    &:hover {
      cursor: pointer;
      @include DropdownHover;
    }
  }
}

ul li.disconnected {
  background-color: darkgray;
}

